/*! Pages */
// ==========================================================================

.page .bg-fixed {
    min-height: 60vh;
    background-image: url("../images/bg-2.jpg");
    
    @media (min-width: 769px) {
        min-height: 75vh;
    }
}

.page .overlay {
    height: 60vh;
    
    @media (min-width: 769px) {
        height: 75vh;
    }
}

.heading h1 {
    position: relative;
    padding: 0;
    margin-top: -0.5em;
    font-size: 32px;
    line-height: 1.1;
    
    @media (min-width: 769px) {
        padding: 0 0 1em;
        margin-top: -1.5em;
        font-size: 36px;
    }
    
    @media (min-width: 1025px) {
        padding: 0 0 1em;
        margin-top: -1.5em;
        font-size: 48px;
    }
}

.entry-content ul,
.entry-content ol {
    padding-left: 1.35em;
}

.entry-content ul {
    list-style: disc;
}

.entry-content ol {
    list-style: decimal;
}

.entry-content ul li,
.entry-content ol li {
    margin: 0;
}

/* Cards */
.cards .flex-img {
    margin-bottom: 0;
}

.cards .card-body {
    flex: 1 1 auto;
    overflow: hidden;
    padding: 0 20px 20px;
    background-color: var(--light-blue);
}

.cards .card-body h2 {
    font-size: 32px;
    margin-top: 14px;
}

.cards .flex-footer {
    overflow: hidden;
    align-items: center;
    margin-top: auto;
    padding: 15px 20px;
    background-color: var(--secondary-blue);
}

.cards .flex-footer span {
    color: var(--bg-color);
    font-size: 1.25em;
}

.cards .flex-footer a {
    margin-left: auto;
}

.cards .lSAction > a {
    opacity: 0.7;
    background-color: var(--primary-orange);
}

.offer-cards .card-body {
    flex: 1 1 auto;
    overflow: hidden;
    padding: 20px;
    background-color: var(--light-orange);
}

.offer-cards.get-inspired .card-body {
    background-color: var(--light-blue);
}

.offer-cards h2 {
    margin-bottom: 8px;
}

.offer-cards h2 a {
    display: block;
    color: var(--primary-orange);
    font-size: 30px;
    line-height: 1.1;
    text-decoration: none;
}

.offer-cards.get-inspired h2 a {
    color: var(--primary-blue);
}

.offer-cards h2 a:hover,
.offer-cards h2 a:focus {
    color: var(--dark-orange);
}

.offer-cards .entry-meta {
    color: var(--primary-orange);
    font-size: 12px;
    margin-bottom: 8px;
}

.offer-cards.get-inspired .entry-meta {
    color: var(--primary-blue);
}

.offer-cards .flex-footer {
    overflow: hidden;
    align-items: center;
    margin-top: auto;
    padding: 20px;
    //border-top: 1px solid var(--secondary-orange);
    background-color: var(--light-orange);
}

.offer-cards.get-inspired .flex-footer {
    background-color: var(--light-blue);
}

.offer-cards .flex-footer a {
    margin-left: auto;
}


/* Single offer */
.single-offer h2 {
    color: var(--primary-orange);
}

.offer-content h3 {
    margin-top: 2em;
}

.offer-content .offer-meta {
    color: var(--primary-blue);
    font-size: 18px;
    font-weight: 700;
    border-left: 8px solid var(--primary-blue);
    padding-left: 1.5em;
    margin: 2em auto 2em 0;
    max-width: 600px;
}

.offer-content .offer-meta div {
    padding: 0.65em 0;
}

.offer-content .offer-meta div:first-child {
    padding-top: 0;
}

.offer-content .offer-meta div:last-child {
    padding-bottom: 0;
}

.offer-content .contact-form {
    max-width: 600px;
}


/* Accommodation page */
.content-accom {
    background-color: var(--light-orange);
    padding: 15px 20px;
}

.entry-title {
    line-height: 1.1;
    margin-bottom: 26px;
}

.accom-gallery img,
.lSGallery img {
    width: 100%;
    margin: 0;
}

.entry-content a:not(.button) {
    color: var(--primary-orange);
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

.entry-content a:not(.button):hover,
.entry-content a:not(.button):focus {
    border-bottom-color: var(--primary-orange);
}

.entry-content .button {
    margin: 2em auto;
}

.share-icons p {
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--primary-blue);
    font-size: 14px;
    margin: 2em auto 0;
}

/* Single accommodation */
.more-accom h2 {
    margin: 2em auto 0;
}


/* Single offer */
.card-full {
    padding: 2em;
    background-color: var(--light-orange);
}


/* Reviews */
.reviews {
    margin: 2em auto;
    padding: 2em 1em;
    background-color: var(--light-blue);
    
    @media (min-width: 481px) {
        padding: 2em 2em;
    }
}

// https://codepen.io/jimmycow/pen/LmjVaz
blockquote {
    font-size: 1em;
    width: 90%;
    margin: 50px auto;
    padding: 0 20px 0 40px;
    border-left: 8px solid var(--primary-blue);
    line-height: 1.7;
    position: relative;
    background: transparent;
    
    @media (min-width: 481px) {
        font-size: 1.25em;
        padding: 0 20px 0 50px;
    }
}

blockquote::before {
    font-family: Georgia, serif;
    content: "\201C";
    color: var(--secondary-blue);
    font-size: 4em;
    line-height: 1;
    position: absolute;
    left: 5px;
    top: -2px;
}

blockquote::after {
    content: '';
}

blockquote span {
    display: block;
    font-style: normal;
    font-weight: 700;
    margin-top: 1em;
}
