/*! Blog */
// ==========================================================================

/* Pagination wp_numeric_posts_nav */
.pagination {
    background-color: var(--light-orange);
}

.pagination ul {
    cursor: default;
    list-style: none;
    padding: 1em;
    margin: 0.5em 0 1em 0;
}

.pagination li {
    display: inline-block;
    padding-left: 0;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 700;
    color: var(--primary-orange);
    margin: 0;
}

.pagination li > a {
    color: var(--primary-orange);
    border-radius: 0;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    margin: 0 0.25em;
    min-width: 24px;
    padding: 0 10px;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s;
}

.pagination li.active > a {
    color: var(--bg-color);
    background-color: var(--secondary-orange);
    cursor: default;
}

.pagination li > a:hover {
    color: var(--bg-color);
    background-color: var(--primary-orange);
}

.pagination li.active > a:hover {
    background-color: var(--secondary-orange);
}

@media screen and (max-width: 480px) {

    .pagination li:nth-child(n+2):nth-last-child(n+2) {
        display: none;
    }

}

/* Single offer content */
.content-accom .entry-meta {
    color: var(--primary-orange);
    font-size: 16px;
    margin-bottom: 1.5em;
}

.offer-content {
    margin: 2em auto;
}

.offer-content .items-list {
    border-left: 10px solid var(--secondary-blue);
    list-style: none;
    margin: 2em auto;
}

.offer-content .items-list li {
    margin: 1em auto;
    line-height: 1.2;
}

/* Single offer contact form */
.contact-form {
    margin: 4em 0 0;
    
    .fillform {
        font-family: 'Nunito', sans-serif;
        font-weight: 900;
        text-transform: uppercase;
        color: var(--primary-blue);
        font-size: 18px;
    }
    
    small {
        font-size: 10px;
    }
    
    .form-row {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        overflow: hidden;
        justify-content: space-between;
        
        @media only screen and (min-width: 576px) {
            flex-direction: row;
        }
    }
    
    .form-col {
        display: flex;
        flex-direction: column;
        width: 100%;
        
        @media only screen and (min-width: 576px) {
            width: 48%;
        }
    }
    
    .form-flex-footer {
        overflow: hidden;
        align-items: center;
        margin-top: auto;
    }
    
    .form-row p {
        display: block;
        font-size: 14px;
    }
    
    input[type=date] {
        font-size: 12px;
        padding: 16px 0 16px 2px;
        max-width: 125px;
    }
    
    input[type=number] {
        max-width: 125px;
    }
}
