/*! Pages */
// ==========================================================================

.page .bg-fixed {
    min-height: 60vh;
    
    @media (min-width: 769px) {
        min-height: 75vh;
    }
}

@media (min-width: 1025px) {
    @supports (background-attachment: fixed) {
        
        .page #bg-01 {
            background-image: url("../images/bg-1-page.jpg");
        }

        .page #bg-02 {
            background-image: url("../images/bg-2-page.jpg");
        }

        .page #bg-03 {
            background-image: url("../images/bg-1-page.jpg");
        }

        .page #bg-04 {
            background-image: url("../images/bg-4-page.jpg");
        }

        .page #bg-05 {
            background-image: url("../images/bg-2-page.jpg");
        }

        #bg-06 {
            background-image: url("../images/bg-6-page.jpg");
        }
    }
}

.page .overlay {
    height: 60vh;
    
    @media (min-width: 769px) {
        height: 75vh;
    }
}

.heading h1 {
    position: relative;
    padding: 0;
    margin-top: -0.5em;
    font-size: 32px;
    line-height: 1.1;
    
    @media (min-width: 769px) {
        padding: 0 0 1em;
        margin-top: -1.5em;
        font-size: 36px;
    }
    
    @media (min-width: 1025px) {
        padding: 0 0 1em;
        margin-top: -1.5em;
        font-size: 48px;
        max-width: 65%;
    }
}

.entry-content ul,
.entry-content ol {
    padding-left: 1.35em;
}

.entry-content ul {
    list-style: disc;
}

.entry-content ol {
    list-style: decimal;
}

.entry-content ul li,
.entry-content ol li {
    margin: 0;
}

/* Cards */
.h-cards .h-card-body a {
    font-weight: 700;
    line-height: 20px;
}

.h-cards .h-card-body a::after {
    display: inline-block;
    position: relative;
    content: '';
    width: 22px;
    height: 22px;
    margin: 0 0 -4px 3px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23379bcc' d='M 6 3 L 6 29 L 26 29 L 26 9.59375 L 25.71875 9.28125 L 19.71875 3.28125 L 19.40625 3 Z M 8 5 L 18 5 L 18 11 L 24 11 L 24 27 L 8 27 Z M 20 6.4375 L 22.5625 9 L 20 9 Z M 11 13 L 11 15 L 21 15 L 21 13 Z M 11 17 L 11 19 L 21 19 L 21 17 Z M 11 21 L 11 23 L 21 23 L 21 21 Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.h-cards .h-card-body a:hover::after,
.h-cards .h-card-body a:focus::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%231c4e66' d='M 6 3 L 6 29 L 26 29 L 26 9.59375 L 25.71875 9.28125 L 19.71875 3.28125 L 19.40625 3 Z M 8 5 L 18 5 L 18 11 L 24 11 L 24 27 L 8 27 Z M 20 6.4375 L 22.5625 9 L 20 9 Z M 11 13 L 11 15 L 21 15 L 21 13 Z M 11 17 L 11 19 L 21 19 L 21 17 Z M 11 21 L 11 23 L 21 23 L 21 21 Z'/%3E%3C/svg%3E");
}

.cards .flex-img {
    margin-bottom: 0;
}

.cards .card-body {
    flex: 1 1 auto;
    overflow: hidden;
    padding: 0 20px 20px;
    background-color: var(--light-blue);
}

.cards.cards-reception .card-body {
    background-color: transparent;
    border: 8px solid var(--light-blue);
}

.cards .card-body h2 {
    font-size: 32px;
    margin-top: 22px;
    line-height: 1.1;
}

.cards .card-body h2 a {
    text-decoration: none;
}

.cards .card-body .file-link {
    display: flex;
    font-weight: 700;
    margin: 16px auto;
}

.cards .card-body .file-link svg {
    width: 24px;
    height: 24px;
    fill: var(--primary-blue);
    .transition02;
}

.cards .card-body .file-link:hover svg,
.cards .card-body .file-link:focus svg {
    fill: var(--dark-blue);
}

.cards .flex-footer {
    overflow: hidden;
    align-items: center;
    margin-top: auto;
    padding: 15px 20px;
    background-color: var(--secondary-blue);
}

.cards.cards-reception .flex-footer {
    background-color: var(--light-blue);
}

.cards .flex-footer span {
    color: var(--bg-color);
    font-size: 1.25em;
}

.cards .flex-footer a {
    margin-left: auto;
}

.cards .lSAction > a {
    opacity: 0.7;
    background-color: var(--primary-orange);
}

.offer-cards .card-body {
    flex: 1 1 auto;
    overflow: hidden;
    padding: 20px;
    background-color: var(--light-orange);
}

.offer-cards.get-inspired .card-body {
    background-color: var(--light-blue);
}

.offer-cards h2 {
    margin-bottom: 8px;
}

.offer-cards h2 a {
    display: block;
    color: var(--primary-orange);
    font-size: 30px;
    line-height: 1.1;
    text-decoration: none;
}

.offer-cards.get-inspired h2 a {
    color: var(--primary-blue);
}

.offer-cards h2 a:hover,
.offer-cards h2 a:focus {
    color: var(--dark-orange);
}

.offer-cards.get-inspired h2 a:hover,
.offer-cards.get-inspired h2 a:focus {
    color: var(--dark-blue);
}

.offer-cards .entry-meta {
    color: var(--primary-orange);
    font-size: 12px;
    margin-bottom: 8px;
}

.offer-cards.get-inspired .entry-meta {
    color: var(--primary-blue);
}

.offer-cards .flex-footer {
    overflow: hidden;
    align-items: center;
    margin-top: auto;
    padding: 20px;
    //border-top: 1px solid var(--secondary-orange);
    background-color: var(--light-orange);
}

.offer-cards.get-inspired .flex-footer {
    background-color: var(--light-blue);
}

.offer-cards .flex-footer a {
    margin-left: auto;
}

.h-cards .col-grid {
    background-color: var(--light-blue);
    margin: 1em;
}

.h-cards .col-grid.direction-row {
    flex-direction: column;
}

.h-cards .col-grid img {
    margin-bottom: 0;
}

@media only screen and (min-width: 576px) {
    .h-cards .col-grid.direction-row {
        flex-direction: row;
    }
}


/* Single offer */
.single-offer {
    margin-top: 4em;
}

.single-offer h2 {
    color: var(--primary-orange);
}

.offer-content h3 {
    margin-top: 2em;
}

.offer-content .offer-meta {
    color: var(--primary-blue);
    font-size: 18px;
    font-weight: 700;
    border-left: 8px solid var(--primary-blue);
    padding-left: 1.5em;
    margin: 2em auto 2em 0;
    max-width: 600px;
}

.offer-content .offer-meta div {
    padding: 0.65em 0;
}

.offer-content .offer-meta div:first-child {
    padding-top: 0;
}

.offer-content .offer-meta div:last-child {
    padding-bottom: 0;
}

.offer-content .contact-form {
    max-width: 600px;
}


/* Accommodation page */
.content-accom {
    background-color: var(--light-orange);
    padding: 15px 20px;
}

.entry-title {
    line-height: 1.1;
    margin-bottom: 26px;
}

.accom-gallery img,
.lSGallery img {
    width: 100%;
    margin: 0;
}

.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5 {
    line-height: 1.1;
}

.entry-content .household {
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
}

.entry-content .household svg {
    width: 20px;
    height: 20px;
    fill: var(--primary-orange);
    margin-left: 3px;
}

.entry-content a:not(.button) {
    color: var(--primary-orange);
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

.entry-content a:not(.button):hover,
.entry-content a:not(.button):focus {
    border-bottom-color: var(--primary-orange);
}

.entry-content .button {
    margin: 2em auto;
}

.share-icons p {
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--primary-orange);
    font-size: 14px;
    margin: 3em auto 0;
}

/* Single accommodation */
.more-accom h2 {
    margin: 2em auto 0;
}

/* Inspirate page */
.content-inspire {
    background-color: var(--light-blue);
    padding: 15px 20px;
}

.single-offer.single-inspire h2 {
    color: var(--primary-blue);
}

.offer-cards.single-inspire .card-body {
    background-color: var(--light-blue);
}

.offer-cards.single-inspire h2 a {
    color: var(--primary-blue);
}

.offer-cards.single-inspire h2 a:hover,
.offer-cards.single-inspire h2 a:focus {
    color: var(--dark-blue);
}

.offer-cards.single-inspire .flex-footer {
    background-color: var(--light-blue);
}


/* Single offer and inspire */
.card-full {
    padding: 2em;
    background-color: var(--light-orange);
}


/* Reviews */
.reviews {
    margin: 2em auto;
    padding: 2em 1em;
    background-color: var(--light-blue);
    
    @media (min-width: 481px) {
        padding: 2em 2em;
    }
}

// https://codepen.io/jimmycow/pen/LmjVaz
blockquote {
    font-size: 1em;
    width: 90%;
    margin: 50px auto;
    padding: 0 20px 0 40px;
    border-left: 8px solid var(--primary-blue);
    line-height: 1.7;
    position: relative;
    background: transparent;
    
    @media (min-width: 481px) {
        font-size: 1.25em;
        padding: 0 20px 0 50px;
    }
}

blockquote::before {
    font-family: Georgia, serif;
    content: "\201C";
    color: var(--secondary-blue);
    font-size: 4em;
    line-height: 1;
    position: absolute;
    left: 5px;
    top: -2px;
}

blockquote::after {
    content: '';
}

blockquote span {
    display: block;
    font-style: normal;
    font-weight: 700;
    margin-top: 1em;
}

/* Map page
   https://codepen.io/vsueiro/full/KvpLEj */
.page-map {
    display: none;
    
    @media (min-width: 601px) {
        display: block;
    }
}

.page-map-mobile {
    display: block;
    
    @media (min-width: 601px) {
        display: none;
    }
}

.page-map .header-map h1 {
    font-size: 40px;
    line-height: 1.7;
    margin-bottom: 0;
}

.page-map-mobile .header-map h1 {
    font-size: 24px;
    line-height: 1.5;
    margin: 10px auto;
}

.page-map .header-map p {
    line-height: 1.5;
    margin-bottom: 8px;
}

.page-map .header-map .back-home {
    position: absolute;
    display: block;
    top: 15px;
    right: 15px;
    height: 50px;
    width: 50px;
}

.page-map-mobile .header-map .back-home {
    position: absolute;
    display: block;
    top: 10px;
    right: 10px;
    height: 36px;
    width: 36px;
}

.page-map .header-map .back-home svg {
    height: 50px;
    width: 50px;
}

.page-map-mobile .header-map .back-home svg {
    height: 36px;
    width: 36px;
}

.container-map {
    position: relative;
    margin: 0 auto;
    //height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    padding: 1em;
    z-index: 1;
}

.media-map {
    position: relative;
    overflow: hidden;
    box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.3);
}

.container-map .media-bg {
    position: relative;
    margin: 0;
    z-index: -1;
}

.hotspots .hotspot.xaloc {
    top: 11%;
    left: 11%;
}

.hotspots .hotspot.llevant {
    top: 15%;
    left: 58%;
}

.hotspots .hotspot.tamariu {
    top: 78%;
    left: 44%;
}

.hotspots .hotspot.morea {
    top: 73%;
    left: 53%;
}

.hotspots .hotspot.piscina {
    top: 28%;
    left: 47%;
}

.hotspots .hotspot.playground {
    top: 24%;
    left: 60.5%;
}

.hotspots .hotspot.playground2 {
    top: 68%;
    left: 62%;
}

.hotspots .hotspot.gastronomia {
    top: 48%;
    left: 61%;
}

.hotspots .hotspot.sanitarios {
    top: 47%;
    left: 41%;
}

.hotspots .hotspot.lavanderia {
    top: 44%;
    left: 45%;
}

.hotspots .hotspot.supermarket {
    top: 41%;
    left: 59%;
}

.hotspots .hotspot.reception {
    top: 55.5%;
    left: 55.5%;
}

.hotspots .hotspot.sailwash {
    top: 43%;
    left: 69.5%;
}

.hotspots .hotspot.playfield {
    top: 1.5%;
    left: 45%;
}

.hotspots .hotspot.windsurf {
    top: 41%;
    left: 88%;
}

.hotspots .hotspot.sunbath {
    top: 26%;
    left: 84%;
}

.hotspots .hotspot.beachbar {
    top: 66%;
    left: 84%;
}

.hotspots .hotspot.entertainments {
    top: 43.5%;
    left: 54.5%;
}


.hotspots .hotspot {
    position: absolute;
    cursor: pointer;
    pointer-events: all;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background: #ffffff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
    .transition04;
    
    @media (min-width: 769px) {
        height: 36px;
        width: 36px;
    }
    
    @media (min-width: 1025px) {
        height: 44px;
        width: 44px;
    }
}

.hotspots .hotspot:hover {
    background: var(--primary-orange);
}

.hotspots .hotspot .svg-icon {
    position: relative;
    fill: var(--primary-orange);
	vertical-align: middle;
    text-align: center;
    margin: 0 auto;
    padding: 7px;
    height: 30px;
    width: 30px;
    
    @media (min-width: 769px) {
        height: 36px;
        width: 36px;
    }
    
    @media (min-width: 1025px) {
        height: 44px;
        width: 44px;
    }
}

.hotspots .hotspot:hover .svg-icon {
    fill: var(--bg-color);
}

.hotspots .hotspot::after {
    opacity: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    top: -4px;
    left: -4px;
    right: 0;
    bottom: 0;
    content: "";
    height: 100%;
    width: 100%;
    border: 4px solid rgba(208, 116, 0, 0.9);
    border-radius: 100%;
    -webkit-animation-name: ripple;
    animation-name: ripple;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
    animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
    z-index: -1;
}

.hotspots .hotspot::before {
    opacity: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    top: -4px;
    left: -4px;
    right: 0;
    bottom: 0;
    content: "";
    height: 100%;
    width: 100%;
    border: 4px solid rgba(208, 116, 0, 0.9);
    border-radius: 100%;
    -webkit-animation-name: ripple;
    animation-name: ripple;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
    animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
    z-index: -1;
}

@-webkit-keyframes ripple {
  from {
    opacity: 1;
    -webkit-transform: scale3d(0.75, 0.75, 1);
            transform: scale3d(0.75, 0.75, 1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale3d(1.5, 1.5, 1);
            transform: scale3d(1.5, 1.5, 1);
  }
}

@keyframes ripple {
  from {
    opacity: 1;
    -webkit-transform: scale3d(0.75, 0.75, 1);
            transform: scale3d(0.75, 0.75, 1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale3d(1.5, 1.5, 1);
            transform: scale3d(1.5, 1.5, 1);
  }
}


/*! https://codepen.io/nfms/pen/yJydaE */
/* --------------------------------
 *
 *Modal Window
 *
 *-------------------------------- */
.morph-modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    color: var(--font-color);
    z-index: 1;
}

.morph-modal.open-modal {
    opacity: 1;
    visibility: visible;
}

.modal-content,
.close-modal {
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
    //transition-delay: 0.4s;
    z-index: 2;
}

.modal-visible .modal-content,
.modal-visible .close-modal {
    opacity: 1;
}

.modal-content {
    position: relative;
    height: 100%;
    overflow: auto;
    padding: 20px 1%;
    background-color: var(--bg-color);
    color: var(--font-color);
    
    @media (min-width: 1025px) {
        padding: 20px 3%;
    }
    
    @media (min-width: 1281px) {
        padding: 40px 10%;
    }
}

.close-modal {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    /* replace text with image */
    height: 50px;
    width: 50px;
    background: var(--primary-orange);
    border-radius: 50%;
    border: none;
    text-indent: 100%;
    overflow: hidden;
    color: transparent;
    white-space: nowrap;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
}

.close-modal::before, .close-modal::after {
    /* this is the 'X' arrow */
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2px;
    width: 24px;
    background: #FFF;
}

.close-modal::before {
    -webkit-transform: translate(-50%) rotate(45deg);
    transform: translate(-50%) rotate(45deg);
}

.close-modal::after {
    -webkit-transform: translate(-50%) rotate(-45deg);
    transform: translate(-50%) rotate(-45deg);
}

.close-modal:hover {
    background: var(--secondary-orange);
}

/* --------------------------------
 *
 *Modal Trigger and morphing background
 *
 *-------------------------------- */
.morph-btn, .morph-background {
  display: inline-block;
  background-color: var(--primary-orange);
  height: 45px;
  line-height: 45px;
  width: 170px;
}

.morph-btn {
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 1;
}

.morph-background {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
