/*! Plugins */
// ==========================================================================

/*! Mobile left nav
*   http://codyhouse.co/gem/stretchy-navigation/ */
/* -------------------------------- 

Stretchy Nav style - common to:
 - basic navigation
 - add-content navigation
 - edit-content navigation

-------------------------------- */
.stretchy-nav {
    position: relative;
    pointer-events: none;
    width: 100%;
}

.stretchy-nav .stretchy-nav-bg {
    /* this is the stretching navigation background */
    display: block;
    position: absolute;
    z-index: 1;
    top: 40px;
    right: 0;
    width: 54px;
    height: 54px;
    border-radius: 30px;
    border-radius: 0;
    //background: var(--bg-color);
    transition: height 0.2s;
    
    background-color: var(--primary-blue);
    box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.4);
}

.stretchy-nav.nav-is-visible {
    pointer-events: auto;
}

.stretchy-nav.nav-is-visible .stretchy-nav-bg {
    height: 100%;
    width: 100%;
    max-width: 270px;
}

.nav-trigger {
    display: block;
    position: absolute;
    top: 40px;
    right: 0;
    height: 54px;
    width: 54px;
    border-radius: 0;
    /* replace text with image */
    overflow: hidden;
    white-space: nowrap;
    color: transparent;
    //background-color: var(--primary-blue);
    //box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);
    pointer-events: auto;
    z-index: 3;
    
    @media (min-width: 1024px) {
        display: none;
    }
}

.nav-trigger:hover,
.nav-trigger:focus {
    border-bottom: none;
}

.nav-trigger span,
.nav-trigger span::after,
.nav-trigger span::before {
    /* this is the hamburger icon */
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: #ffffff;
}

.nav-trigger span {
    /* middle line of the hamburger icon */
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translateX(-50%) translateY(-50%);
    transition: background-color 0.2s;
}

.nav-trigger span::after,
.nav-trigger span::before {
    /* top and bottom lines of the hamburger icon */
    content: '';
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform 0.2s;
}

.nav-trigger span::before {
    transform: translateY(-6px);
}

.nav-trigger span::after {
    transform: translateY(6px);
}

.no-touch .nav-trigger:hover ~ .stretchy-nav-bg {
    //box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
}

.nav-is-visible .nav-trigger span {
    background-color: transparent;
}

.nav-is-visible .nav-trigger span::before {
    transform: rotate(-45deg);
}

.nav-is-visible .nav-trigger span::after {
    transform: rotate(45deg);
}

.stretchy-nav ul {
    position: relative;
    z-index: 11;
    padding: 0;
    margin-top: 50px;
    visibility: hidden;
    transition: visibility 0.3s;
    height: 0;
}

.stretchy-nav ul li {
    /* navigation item labels */
    display: block;
    opacity: 0;
    transform: translateX(-25px);
}

.stretchy-nav.nav-is-visible ul {
    visibility: visible;
    height: auto;
}

.stretchy-nav.nav-is-visible ul li {
    opacity: 1;
    transform: translateX(0);
    animation: slideIn 0.15s backwards;
    transition: transform 0.2s;
}

.stretchy-nav.nav-is-visible ul li a::after,
.stretchy-nav.nav-is-visible ul li {
    animation-delay: 0.05s;
}

@media (min-width: 1024px) {
    
    .stretchy-nav {
        pointer-events: auto;
    }

    .stretchy-nav .stretchy-nav-bg {
        display: none;
    }
    
    .stretchy-nav ul {
        position: relative;
        margin: 20px 0 0;
        text-align: left;
        visibility: visible;
    }
    
    .scrolled .stretchy-nav ul {
        margin: 0;
    }
    
    .stretchy-nav ul li {
        opacity: 1;
        transform: translateX(0);
    }
    
}

/* -------------------------------- 
keyframes
-------------------------------- */
@-webkit-keyframes scaleIn {
  from {
    -webkit-transform: translateY(-50%) scale(0);
  }
  to {
    -webkit-transform: translateY(-50%) scale(1);
  }
}
@-moz-keyframes scaleIn {
  from {
    -moz-transform: translateY(-50%) scale(0);
  }
  to {
    -moz-transform: translateY(-50%) scale(1);
  }
}
@keyframes scaleIn {
  from {
    -webkit-transform: translateY(-50%) scale(0);
    -moz-transform: translateY(-50%) scale(0);
    -ms-transform: translateY(-50%) scale(0);
    -o-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
  }
  to {
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
  }
}
@-webkit-keyframes slideIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(-25px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes slideIn {
  from {
    opacity: 0;
    -moz-transform: translateX(-25px);
  }
  to {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}
@keyframes slideIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(-25px);
    -moz-transform: translateX(-25px);
    -ms-transform: translateX(-25px);
    -o-transform: translateX(-25px);
    transform: translateX(-25px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}





/*
    A simple jQuery modal (http://github.com/kylefox/jquery-modal)
    Version 0.9.2
*/
.blocker {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 11;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.95);
    text-align: center;
}

.blocker:before{
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.05em;
}

.blocker.behind {
    background-color: transparent;
}

.modal {
    display: none;
    vertical-align: middle;
    position: relative;
    z-index: 2;
    max-width: 500px;
    box-sizing: border-box;
    width: 90%;
    top: auto;
    background: #fff;
    padding: 15px 30px;
    border-radius: 0;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);
    text-align: left;
    
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 1920 274' style='enable-background:new 0 0 1920 274;' xml:space='preserve'%3E%3Cpath style='fill-rule:evenodd;clip-rule:evenodd;fill:%23E3AC66;' d='M-5,232v15c651.2-311.2,1296.3,78.8,1933-91v-16 C1295.7,304.3,749.2-128.1-5,232z'/%3E%3Cpath style='fill-rule:evenodd;clip-rule:evenodd;fill:%239BCDE5;' d='M-5-4v235.9c754.2-360.1,1300.7,72.4,1933-92V-4H-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: top center;
}

.modal a.close-modal {
    position: absolute;
    top: -18.5px;
    right: -18.5px;
    display: block;
    width: 44px;
    height: 44px;
    padding: 3px;
    text-indent: -9999px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='48px' height='48px' viewBox='0 0 48 48' enable-background='new 0 0 48 48' xml:space='preserve'%3E%3Cline fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='square' stroke-miterlimit='10' x1='10' y1='10' x2='38' y2='38'/%3E%3Cline fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='square' stroke-miterlimit='10' x1='38' y1='10' x2='10' y2='38'/%3E%3C/svg%3E");
    background-size: 28px;
    background-color: var(--primary-blue);
    border-radius: 50%;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2);
}

.modal-spinner {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 12px 16px;
  border-radius: 5px;
  background-color: #111;
  height: 20px;
}

.modal-spinner > div {
  border-radius: 100px;
  background-color: #fff;
  height: 20px;
  width: 2px;
  margin: 0 1px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.modal-spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.modal-spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.modal-spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.5) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}



/*! lightslider - v1.1.6 - 2016-10-25
* https://github.com/sachinchoolur/lightslider
* Copyright (c) 2016 Sachin N; Licensed MIT */
/*! lightslider - v1.1.3 - 2015-04-14
* https://github.com/sachinchoolur/lightslider
* Copyright (c) 2015 Sachin N; Licensed MIT */
/** /!!! core css Should not edit !!!/**/ 

.lSSlideOuter {
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.lightSlider:before,
.lightSlider:after {
    content: " ";
    display: table;
}

.lightSlider {
    overflow: hidden;
    margin: 0;
}

.lSSlideWrapper {
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

.lSSlideWrapper > .lightSlider:after {
    clear: both;
}

.lSSlideWrapper .lSSlide {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition: all 1s;
    -webkit-transition-property: -webkit-transform,height;
    -moz-transition-property: -moz-transform,height;
    transition-property: transform,height;
    -webkit-transition-duration: inherit !important;
    transition-duration: inherit !important;
    -webkit-transition-timing-function: inherit !important;
    transition-timing-function: inherit !important;
}

.lSSlideWrapper .lSFade {
    position: relative;
}

.lSSlideWrapper .lSFade > * {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 9;
    margin-right: 0;
    width: 100%;
}

.lSSlideWrapper.usingCss .lSFade > * {
    opacity: 0;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-duration: inherit !important;
    transition-duration: inherit !important;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-timing-function: inherit !important;
    transition-timing-function: inherit !important;
}

.lSSlideWrapper .lSFade > *.active {
    z-index: 10;
}

.lSSlideWrapper.usingCss .lSFade > *.active {
    opacity: 1;
}
/** /!!! End of core css Should not edit !!!/**/

/* Pager */
.lSSlideOuter .lSPager.lSpg {
    margin: 10px 0 0;
    padding: 0;
    text-align: center;
}
.lSSlideOuter .lSPager.lSpg > li {
    cursor: pointer;
    display: inline-block;
    padding: 0 5px;
}
.lSSlideOuter .lSPager.lSpg > li a {
    background-color: var(--font-color);
    border-radius: 0;
    display: inline-block;
    height: 8px;
    overflow: hidden;
    text-indent: -999em;
    width: 16px;
    position: relative;
    z-index: 99;
    -webkit-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
}
.lSSlideOuter .lSPager.lSpg > li:hover a,
.lSSlideOuter .lSPager.lSpg > li.active a {
    background-color: var(--primary-blue);
}
.lSSlideOuter .media {
    opacity: 0.8;
}
.lSSlideOuter .media.active {
    opacity: 1;
}
/* End of pager */

/** Gallery */
.lSSlideOuter .lSPager.lSGallery {
    list-style: none outside none;
    padding-left: 0;
    margin: 0;
    overflow: hidden;
    transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.lSSlideOuter .lSPager.lSGallery li {
    overflow: hidden;
    opacity: 1;
    -webkit-transition: opacity 0.12s linear 0s 0.35s linear 0s;
    transition: opacity 0.12s linear 0s 0.35s linear 0s;
}

.lSSlideOuter .lSPager.lSGallery li.active,
.lSSlideOuter .lSPager.lSGallery li:hover {
    opacity: 0.5;
}

.lSSlideOuter .lSPager.lSGallery img {
    display: block;
    height: auto;
    max-width: 100%;
}

.lSSlideOuter .lSPager.lSGallery:before,
.lSSlideOuter .lSPager.lSGallery:after {
    content: " ";
    display: table;
}

.lSSlideOuter .lSPager.lSGallery:after {
    clear: both;
}
/* End of Gallery*/

/* slider actions */
.lSAction > a {
    display: block;
    top: 50%;
    width: 28px;
    height: 36px;
    //background-image: url('../img/controls.png');
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512'%3E%3Cpath fill='%23ebf5fa' d='M160 115.4L180.7 96 352 256 180.7 416 160 396.7 310.5 256z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28px;
    background-color: var(--secondary-blue);
    cursor: pointer;
    position: absolute;
    z-index: 99;
    margin-top: -22px;
    opacity: 0.3;
    -webkit-transition: opacity 0.35s linear 0s;
    transition: opacity 0.35s linear 0s;
}
.lSAction > a:hover {
    opacity: 1;
}
.lSAction > .lSPrev {
    //background-position: 0 0;
    left: 7px;
    transform: rotate(180deg);
}
.lSAction > .lSNext {
    //background-position: -32px 0;
    right: 7px;
}
.lSAction > a.disabled {
    pointer-events: none;
}
.cS-hidden {
    height: 1px;
    opacity: 0;
    filter: alpha(opacity=0);
    overflow: hidden;
}


/* vertical */
.lSSlideOuter.vertical {
    position: relative;
}
.lSSlideOuter.vertical.noPager {
    padding-right: 0px !important;
}
.lSSlideOuter.vertical .lSGallery {
    position: absolute !important;
    right: 0;
    top: 0;
}
.lSSlideOuter.vertical .lightSlider > * {
    width: 100% !important;
    max-width: none !important;
}

/* vertical controlls */
.lSSlideOuter.vertical .lSAction > a {
    left: 50%;
    margin-left: -14px;
    margin-top: 0;
}
.lSSlideOuter.vertical .lSAction > .lSNext {
    background-position: 31px -31px;
    bottom: 10px;
    top: auto;
}
.lSSlideOuter.vertical .lSAction > .lSPrev {
    background-position: 0 -31px;
    bottom: auto;
    top: 10px;
}
/* vertical */


/* Rtl */
.lSSlideOuter.lSrtl {
    direction: rtl;
}
.lSSlideOuter .lightSlider, .lSSlideOuter .lSPager {
    padding-left: 0;
    list-style: none outside none;
}
.lSSlideOuter.lSrtl .lightSlider, .lSSlideOuter.lSrtl .lSPager {
    padding-right: 0;
}
.lSSlideOuter .lightSlider > *,  .lSSlideOuter .lSGallery li {
    float: left;
}
.lSSlideOuter.lSrtl .lightSlider > *,  .lSSlideOuter.lSrtl .lSGallery li {
    float: right !important;
}
/* Rtl */

@-webkit-keyframes rightEnd {
    0% {
        left: 0;
    }

    50% {
        left: -15px;
    }

    100% {
        left: 0;
    }
}
@keyframes rightEnd {
    0% {
        left: 0;
    }

    50% {
        left: -15px;
    }

    100% {
        left: 0;
    }
}
@-webkit-keyframes topEnd {
    0% {
        top: 0;
    }

    50% {
        top: -15px;
    }

    100% {
        top: 0;
    }
}
@keyframes topEnd {
    0% {
        top: 0;
    }

    50% {
        top: -15px;
    }

    100% {
        top: 0;
    }
}
@-webkit-keyframes leftEnd {
    0% {
        left: 0;
    }

    50% {
        left: 15px;
    }

    100% {
        left: 0;
    }
}
@keyframes leftEnd {
    0% {
        left: 0;
    }

    50% {
        left: 15px;
    }

    100% {
        left: 0;
    }
}
@-webkit-keyframes bottomEnd {
    0% {
        bottom: 0;
    }

    50% {
        bottom: -15px;
    }

    100% {
        bottom: 0;
    }
}
@keyframes bottomEnd {
    0% {
        bottom: 0;
    }

    50% {
        bottom: -15px;
    }

    100% {
        bottom: 0;
    }
}
.lSSlideOuter .rightEnd {
    -webkit-animation: rightEnd 0.3s;
    animation: rightEnd 0.3s;
    position: relative;
}
.lSSlideOuter .leftEnd {
    -webkit-animation: leftEnd 0.3s;
    animation: leftEnd 0.3s;
    position: relative;
}
.lSSlideOuter.vertical .rightEnd {
    -webkit-animation: topEnd 0.3s;
    animation: topEnd 0.3s;
    position: relative;
}
.lSSlideOuter.vertical .leftEnd {
    -webkit-animation: bottomEnd 0.3s;
    animation: bottomEnd 0.3s;
    position: relative;
}
.lSSlideOuter.lSrtl .rightEnd {
    -webkit-animation: leftEnd 0.3s;
    animation: leftEnd 0.3s;
    position: relative;
}
.lSSlideOuter.lSrtl .leftEnd {
    -webkit-animation: rightEnd 0.3s;
    animation: rightEnd 0.3s;
    position: relative;
}
/*/  GRab cursor */
.lightSlider.lsGrab > * {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.lightSlider.lsGrabbing > * {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing;
}




// https://codyhouse.co/gem/pricing-tables/

/* -------------------------------- 
Main Components 
-------------------------------- */
#prices {
    font-family: "Open Sans", sans-serif;
}

@media only screen and (min-width: 768px) {
    
}


.cd-pricing-switcher {
    text-align: center;
}

.cd-pricing-switcher .fieldset {
    display: inline-block;
    position: relative;
    padding: 0;
    background-color: var(--primary-blue);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.12),0 2px 10px 0 rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.12),0 2px 10px 0 rgba(0,0,0,0.1);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.12),0 2px 10px 0 rgba(0,0,0,0.1);
}

.cd-pricing-switcher input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.cd-pricing-switcher label {
    position: relative;
    z-index: 1;
    display: inline-block;
    float: left;
    width: 150px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    font-size: .8rem;
    color: #FFFFFF;
}

.cd-pricing-switcher .cd-switch {
    /* floating background */
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 150px;
    background-color: var(--primary-orange);
    border-radius: 0;
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
}

.cd-pricing-switcher input[type="radio"]:checked + label + .cd-switch,
.cd-pricing-switcher input[type="radio"]:checked + label:nth-of-type(n) + .cd-switch {
    /* use label:nth-of-type(n) to fix a bug on safari with multiple adjacent-sibling selectors*/
    -webkit-transform: translateX(150px);
    -moz-transform: translateX(150px);
    -ms-transform: translateX(150px);
    -o-transform: translateX(150px);
    transform: translateX(150px);
}

.no-js .cd-pricing-switcher {
    display: none;
}

.cd-pricing-list {
    margin: 2em 0 0;
    
    ul ul, ol ul, ul ol, ol ol {
        margin: 0;
    }
}

.cd-pricing-list > li {
    position: relative;
    margin-bottom: 1em;
}

@media only screen and (min-width: 400px) {
    .cd-pricing-switcher label {
        width: 190px;
        font-size: 1rem;
    }

    .cd-pricing-switcher .cd-switch {
        width: 190px;
    }
    
    .cd-pricing-switcher input[type="radio"]:checked + label + .cd-switch,
    .cd-pricing-switcher input[type="radio"]:checked + label:nth-of-type(n) + .cd-switch {
        /* use label:nth-of-type(n) to fix a bug on safari with multiple adjacent-sibling selectors*/
        -webkit-transform: translateX(190px);
        -moz-transform: translateX(190px);
        -ms-transform: translateX(190px);
        -o-transform: translateX(190px);
        transform: translateX(190px);
    }
}

@media only screen and (min-width: 768px) {
    .cd-pricing-list {
        margin: 3em 0 0;
    }
    .cd-pricing-list:after {
        content: "";
        display: table;
        clear: both;
    }
    .cd-pricing-list > li {
        width: 16.666666666666666666666666666667%;
        float: left;
    }
    .cd-has-margins .cd-pricing-list > li {
        width: 16.2%;
        float: left;
        margin-right: 0.5%;
    }
    .cd-has-margins .cd-pricing-list > li:last-of-type {
        margin-right: 0;
    }
}


.cd-pricing-wrapper {
    /* this is the item that rotates */
    position: relative;
}

.touch .cd-pricing-wrapper {
    /* fix a bug on IOS8 - rotating elements dissapear*/
    -webkit-perspective: 2000px;
    -moz-perspective: 2000px;
    perspective: 2000px;
}

.cd-pricing-wrapper.is-switched .is-visible {
    /* totate the tables - anticlockwise rotation */
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-animation: cd-rotate 0.5s;
    -moz-animation: cd-rotate 0.5s;
    animation: cd-rotate 0.5s;
}

.cd-pricing-wrapper.is-switched .is-hidden {
    /* totate the tables - anticlockwise rotation */
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-animation: cd-rotate-inverse 0.5s;
    -moz-animation: cd-rotate-inverse 0.5s;
    animation: cd-rotate-inverse 0.5s;
    opacity: 0;
}

.cd-pricing-wrapper.is-switched .is-selected {
  opacity: 1;
}

.cd-pricing-wrapper.is-switched.reverse-animation .is-visible {
    /* invert rotation direction - clockwise rotation */
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-animation: cd-rotate-back 0.5s;
    -moz-animation: cd-rotate-back 0.5s;
    animation: cd-rotate-back 0.5s;
}

.cd-pricing-wrapper.is-switched.reverse-animation .is-hidden {
    /* invert rotation direction - clockwise rotation */
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-animation: cd-rotate-inverse-back 0.5s;
    -moz-animation: cd-rotate-inverse-back 0.5s;
    animation: cd-rotate-inverse-back 0.5s;
    opacity: 0;
}

.cd-pricing-wrapper.is-switched.reverse-animation .is-selected {
    opacity: 1;
}

.cd-pricing-wrapper > li {
    background-color: #FFFFFF;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* Firefox bug - 3D CSS transform, jagged edges */
    outline: 1px solid transparent;
}

.cd-pricing-wrapper > li::after {
    /* subtle gradient layer on the right - to indicate it's possible to scroll */
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50px;
    pointer-events: none;
    background: -webkit-linear-gradient( right , #FFFFFF, rgba(255, 255, 255, 0));
    background: linear-gradient(to left, #FFFFFF, rgba(255, 255, 255, 0));
}

.cd-pricing-wrapper > li.is-ended::after {
    /* class added in jQuery - remove the gradient layer when it's no longer possible to scroll */
    display: none;
}

.cd-pricing-wrapper .is-visible {
    /* the front item, visible by default */
    position: relative;
    z-index: 5;
}

.cd-pricing-wrapper .is-hidden {
    /* the hidden items, right behind the front one */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.cd-pricing-wrapper .is-selected {
    /* the next item that will be visible */
    z-index: 3 !important;
}

@media only screen and (min-width: 768px) {
    .cd-pricing-wrapper > li::before {
        /* separator between pricing tables - visible when number of tables > 3 */
        content: '';
        position: absolute;
        z-index: 6;
        left: -1px;
        top: 50%;
        bottom: auto;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        height: 50%;
        width: 1px;
        background-color: #b1d6e8;
    }
    .cd-pricing-wrapper > li::after {
        /* hide gradient layer */
        display: none;
    }
    .cd-has-margins .cd-pricing-wrapper > li, .cd-has-margins .cd-popular .cd-pricing-wrapper > li {
        /*box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);*/
    }
    :nth-of-type(1) > .cd-pricing-wrapper > li::before {
        /* hide table separator for the first table */
        display: none;
    }
    .cd-has-margins .cd-pricing-wrapper > li {
        border-radius: 0;
        -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.08),0 2px 10px 0 rgba(0,0,0,0.06);
        -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.08),0 2px 10px 0 rgba(0,0,0,0.06);
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.08),0 2px 10px 0 rgba(0,0,0,0.06);
    }
    .cd-popular .cd-pricing-wrapper > li {
        box-shadow: inset 0 0 0 3px var(--primary-orange);
    }
    .cd-has-margins .cd-pricing-wrapper > li::before {
        display: none;
    }
}
@media only screen and (min-width: 1500px) {
    .cd-full-width .cd-pricing-wrapper > li {
        padding: 2.5em 0;
    }
}


.no-js .cd-pricing-wrapper .is-hidden {
    position: relative;
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0);
    margin-top: 1em;
}

@media only screen and (min-width: 768px) {
    .cd-popular .cd-pricing-wrapper > li::before {
        /* hide table separator for .cd-popular table */
        display: none;
    }
    .cd-popular + li .cd-pricing-wrapper > li::before {
        /* hide table separator for tables following .cd-popular table */
        display: none;
    }
}


.cd-pricing-header {
    position: relative;
    z-index: 1;
    height: 80px;
    padding: 1em;
    pointer-events: none;
    background-color: #dcedff;
    color: #FFFFFF;
}

.cd-pricing-header h2 {
    margin-bottom: 3px;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    line-height: 1.3;
	font-size: 1rem;
}

.cd-popular .cd-pricing-header {
    background-color: var(--primary-orange);
}

@media only screen and (min-width: 768px) {
    .cd-pricing-header {
        height: auto;
        padding: 1.9em 0.9em 1.6em;
        pointer-events: auto;
        text-align: center;
        color: var(--primary-blue);
        background-color: transparent;
    }
    .cd-popular .cd-pricing-header {
        color: var(--primary-orange);
        background-color: transparent;
    }
    .cd-pricing-header h2 {
        font-size: 1rem;
        letter-spacing: 2px;
        min-height: 72px;
    }
}

.cd-pricing-body {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.is-switched .cd-pricing-body {
    /* fix a bug on Chrome Android */
    overflow: hidden;
}

@media only screen and (min-width: 768px) {
    .cd-pricing-body {
        overflow-x: visible;
    }
}

.cd-pricing-features {
    width: 600px;
}

.cd-pricing-features:after {
    content: "";
    display: table;
    clear: both;
}

.cd-pricing-features li {
    color: #11151c;
    width: 100px;
    float: left;
    padding: 1.6em 1em;
    font-size: .9rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
}

.cd-pricing-features.with-icon li {
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 44px;
}

.cd-pricing-features.with-icon li.adult {
    background-image: url(../images/pricelist/adult.svg);
}

.cd-pricing-features.with-icon li.child {
    background-image: url(../images/pricelist/baby.svg);
}

.cd-pricing-features.with-icon li.grass {
    background-image: url(../images/pricelist/grass.svg);
}

.cd-pricing-features.with-icon li.grass-plus {
    background-image: url(../images/pricelist/grass-plus.svg);
}

.cd-pricing-features.with-icon li.electricity {
    background-image: url(../images/pricelist/electricity.svg);
}

.cd-pricing-features.with-icon li.dog {
    background-image: url(../images/pricelist/dog.svg);
}

@media only screen and (min-width: 768px) {
    .cd-pricing-features.with-icon li {
        background-position: 95% 50%;
        background-size: 30%;
    }
}

.cd-pricing-features em {
    display: block;
    margin-bottom: 5px;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 0.5;
}

.cd-popular .cd-pricing-features em {
    font-size: .8rem;
}

@media only screen and (min-width: 768px) {
    .cd-pricing-features {
        width: auto;
    }
    .cd-pricing-features li {
        float: none;
        width: auto;
        padding: 1em;
    }
    .cd-popular .cd-pricing-features li {
        margin: 0 3px;
    }
    .cd-pricing-features li:nth-of-type(2n+1) {
        background-color: rgba(32, 52, 102, 0.05);
    }
    .cd-pricing-features em {
        display: inline-block;
        margin-bottom: 0;
    }
}

.cd-pricing-footer {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    /* on mobile it covers the .cd-pricing-header */
    height: 80px;
    width: 100%;
	margin-top: 200px;
}

.cd-pricing-footer::after {
    /* right arrow visible on mobile */
    content: '';
    position: absolute;
    right: 1em;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    background: url(../images/cd-icon-small-arrow.svg);
}
@media only screen and (min-width: 768px) {
    .cd-pricing-footer {
        position: relative;
        height: auto;
        padding: 0;
        text-align: center;
		margin-top: 0;
    }
    .cd-pricing-footer::after {
        /* hide arrow */
        display: none;
    }
    .cd-has-margins .cd-pricing-footer {
        padding-bottom: 0;
    }
}

.cd-select {
    position: relative;
    z-index: 1;
    display: block;
    height: 100%;
    /* hide button text on mobile 
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;*/
	text-transform: uppercase;
	text-align: center;
}

@media only screen and (min-width: 768px) {
    .cd-select {
        position: static;
        display: inline-block;
        height: auto;
        padding: 0.7em 3em;
        color: #fff;
        border-radius: 2px;
        background-color: var(--primary-orange);
        font-size: 1rem;
        text-indent: 0;
        text-transform: uppercase;
        letter-spacing: 2px;
        -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.08),0 2px 10px 0 rgba(0,0,0,0.06);
        -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.08),0 2px 10px 0 rgba(0,0,0,0.06);
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.08),0 2px 10px 0 rgba(0,0,0,0.06);
    }
    .no-touch .cd-select:hover {
        background-color: #FF9C2B;
        color: #fff;
        -moz-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.16),0 4px 15px 0 rgba(0,0,0,0.13);
        -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.16),0 4px 15px 0 rgba(0,0,0,0.13);
        box-shadow: 0 5px 11px 0 rgba(0,0,0,0.16),0 4px 15px 0 rgba(0,0,0,0.13);
    }
    .cd-popular .cd-select {
        background-color: var(--primary-orange);
    }
    .no-touch .cd-popular .cd-select:hover {
        background-color: var(--primary-orange);
    }
    .cd-has-margins .cd-select {
        display: block;
        padding: 0.7em 0;
        border-radius: 0;
    }
}

/* -------------------------------- 

xkeyframes 

-------------------------------- */
@-webkit-keyframes cd-rotate {
  0% {
    -webkit-transform: perspective(2000px) rotateY(0);
  }
  70% {
    /* this creates the bounce effect */
    -webkit-transform: perspective(2000px) rotateY(200deg);
  }
  100% {
    -webkit-transform: perspective(2000px) rotateY(180deg);
  }
}
@-moz-keyframes cd-rotate {
  0% {
    -moz-transform: perspective(2000px) rotateY(0);
  }
  70% {
    /* this creates the bounce effect */
    -moz-transform: perspective(2000px) rotateY(200deg);
  }
  100% {
    -moz-transform: perspective(2000px) rotateY(180deg);
  }
}
@keyframes cd-rotate {
  0% {
    -webkit-transform: perspective(2000px) rotateY(0);
    -moz-transform: perspective(2000px) rotateY(0);
    -ms-transform: perspective(2000px) rotateY(0);
    -o-transform: perspective(2000px) rotateY(0);
    transform: perspective(2000px) rotateY(0);
  }
  70% {
    /* this creates the bounce effect */
    -webkit-transform: perspective(2000px) rotateY(200deg);
    -moz-transform: perspective(2000px) rotateY(200deg);
    -ms-transform: perspective(2000px) rotateY(200deg);
    -o-transform: perspective(2000px) rotateY(200deg);
    transform: perspective(2000px) rotateY(200deg);
  }
  100% {
    -webkit-transform: perspective(2000px) rotateY(180deg);
    -moz-transform: perspective(2000px) rotateY(180deg);
    -ms-transform: perspective(2000px) rotateY(180deg);
    -o-transform: perspective(2000px) rotateY(180deg);
    transform: perspective(2000px) rotateY(180deg);
  }
}
@-webkit-keyframes cd-rotate-inverse {
  0% {
    -webkit-transform: perspective(2000px) rotateY(-180deg);
  }
  70% {
    /* this creates the bounce effect */
    -webkit-transform: perspective(2000px) rotateY(20deg);
  }
  100% {
    -webkit-transform: perspective(2000px) rotateY(0);
  }
}
@-moz-keyframes cd-rotate-inverse {
  0% {
    -moz-transform: perspective(2000px) rotateY(-180deg);
  }
  70% {
    /* this creates the bounce effect */
    -moz-transform: perspective(2000px) rotateY(20deg);
  }
  100% {
    -moz-transform: perspective(2000px) rotateY(0);
  }
}
@keyframes cd-rotate-inverse {
  0% {
    -webkit-transform: perspective(2000px) rotateY(-180deg);
    -moz-transform: perspective(2000px) rotateY(-180deg);
    -ms-transform: perspective(2000px) rotateY(-180deg);
    -o-transform: perspective(2000px) rotateY(-180deg);
    transform: perspective(2000px) rotateY(-180deg);
  }
  70% {
    /* this creates the bounce effect */
    -webkit-transform: perspective(2000px) rotateY(20deg);
    -moz-transform: perspective(2000px) rotateY(20deg);
    -ms-transform: perspective(2000px) rotateY(20deg);
    -o-transform: perspective(2000px) rotateY(20deg);
    transform: perspective(2000px) rotateY(20deg);
  }
  100% {
    -webkit-transform: perspective(2000px) rotateY(0);
    -moz-transform: perspective(2000px) rotateY(0);
    -ms-transform: perspective(2000px) rotateY(0);
    -o-transform: perspective(2000px) rotateY(0);
    transform: perspective(2000px) rotateY(0);
  }
}
@-webkit-keyframes cd-rotate-back {
  0% {
    -webkit-transform: perspective(2000px) rotateY(0);
  }
  70% {
    /* this creates the bounce effect */
    -webkit-transform: perspective(2000px) rotateY(-200deg);
  }
  100% {
    -webkit-transform: perspective(2000px) rotateY(-180deg);
  }
}
@-moz-keyframes cd-rotate-back {
  0% {
    -moz-transform: perspective(2000px) rotateY(0);
  }
  70% {
    /* this creates the bounce effect */
    -moz-transform: perspective(2000px) rotateY(-200deg);
  }
  100% {
    -moz-transform: perspective(2000px) rotateY(-180deg);
  }
}
@keyframes cd-rotate-back {
  0% {
    -webkit-transform: perspective(2000px) rotateY(0);
    -moz-transform: perspective(2000px) rotateY(0);
    -ms-transform: perspective(2000px) rotateY(0);
    -o-transform: perspective(2000px) rotateY(0);
    transform: perspective(2000px) rotateY(0);
  }
  70% {
    /* this creates the bounce effect */
    -webkit-transform: perspective(2000px) rotateY(-200deg);
    -moz-transform: perspective(2000px) rotateY(-200deg);
    -ms-transform: perspective(2000px) rotateY(-200deg);
    -o-transform: perspective(2000px) rotateY(-200deg);
    transform: perspective(2000px) rotateY(-200deg);
  }
  100% {
    -webkit-transform: perspective(2000px) rotateY(-180deg);
    -moz-transform: perspective(2000px) rotateY(-180deg);
    -ms-transform: perspective(2000px) rotateY(-180deg);
    -o-transform: perspective(2000px) rotateY(-180deg);
    transform: perspective(2000px) rotateY(-180deg);
  }
}
@-webkit-keyframes cd-rotate-inverse-back {
  0% {
    -webkit-transform: perspective(2000px) rotateY(180deg);
  }
  70% {
    /* this creates the bounce effect */
    -webkit-transform: perspective(2000px) rotateY(-20deg);
  }
  100% {
    -webkit-transform: perspective(2000px) rotateY(0);
  }
}
@-moz-keyframes cd-rotate-inverse-back {
  0% {
    -moz-transform: perspective(2000px) rotateY(180deg);
  }
  70% {
    /* this creates the bounce effect */
    -moz-transform: perspective(2000px) rotateY(-20deg);
  }
  100% {
    -moz-transform: perspective(2000px) rotateY(0);
  }
}
@keyframes cd-rotate-inverse-back {
  0% {
    -webkit-transform: perspective(2000px) rotateY(180deg);
    -moz-transform: perspective(2000px) rotateY(180deg);
    -ms-transform: perspective(2000px) rotateY(180deg);
    -o-transform: perspective(2000px) rotateY(180deg);
    transform: perspective(2000px) rotateY(180deg);
  }
  70% {
    /* this creates the bounce effect */
    -webkit-transform: perspective(2000px) rotateY(-20deg);
    -moz-transform: perspective(2000px) rotateY(-20deg);
    -ms-transform: perspective(2000px) rotateY(-20deg);
    -o-transform: perspective(2000px) rotateY(-20deg);
    transform: perspective(2000px) rotateY(-20deg);
  }
  100% {
    -webkit-transform: perspective(2000px) rotateY(0);
    -moz-transform: perspective(2000px) rotateY(0);
    -ms-transform: perspective(2000px) rotateY(0);
    -o-transform: perspective(2000px) rotateY(0);
    transform: perspective(2000px) rotateY(0);
  }
}



/*! Widget Maste ASP booking motor | https://rsv4.masterasp.com/widget/v5/master_booking_plugin.css */

/*
calendar: \e900
moon: \e901
person: \e902
print: \e903
info: \e904
pdf: \e905
*/

/*#widgetBookingContainer-wrapper {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    
    box-shadow: 0 -2px 5px 0 rgba(0,0,0,0.1),0 -2px 10px 0 rgba(0,0,0,0.08);
}*/

.monthscontainer {
    width: 2600px;
}

.monthswindow {
    width: 400px;
    overflow: hidden;
}

.datePicker span.inputBox.dissabled {
    opacity: 0.6;
}

.datePicker span.inputBox.enabled {
    cursor: pointer;
}

.datePicker span.inputBox.enabled.invalid:not(.empty) {
    color: #FF0000;
}


.checkinCheckoutContainer td.checkinDay,
.checkinCheckoutContainer .checkout td.checkinDay,
.checkinCheckoutContainer .checkin td.checkinDay,
.checkinCheckoutContainer .checkout td.stayDay {
    background-color: #A0A0A0;
    color: #FFF !important;
}

/*
.checkinCheckoutContainer .checkout td.checkinDay,
.checkinCheckoutContainer .checkin td.checkinDay {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}


.checkinCheckoutContainer .checkout td.checkoutDay {
    border-top-right-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
*/

.fullScreenPopup {
    position: fixed;
    right: 0px;
    bottom: 0px;
    left: 0px;
    top: 0px;
    z-index: 100;
}

.widgetBookingContainer button,
.widgetBookingContainer label.categoryGroupLabel,
.widgetBookingContainer label.categoryLabel {
    cursor: pointer;
}


/* Categories */


.categorySelector span.inputBox.empty {
/*    color: #C0C0C0; */
}

.categorySelector span.inputBox.dissabled {
    color: #E0E0E0;
}

.categorySelector span.inputBox.enabled {
    cursor: pointer;
}


/*.widgetBookingContainer {
    background: rgba(255, 255, 255, 1);
    padding: 1px 20px 0px;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    z-index: 100;
}

.widgetBookingContainer,
.widgetBookingContainer select,
.widgetBookingContainer input{
    font: normal 400 14px/16px "Open sans", Arial, sans-serif;
}

.widgetBookingContainer *,
.widgetBookingContainer *:before,
.widgetBookingContainer *:after {
  box-sizing: inherit;
}*/

.widgetBookingContainer .persons {
    overflow: hidden;
}

.widgetBookingContainer .checkinCheckoutContainer label,
.widgetBookingContainer .peopleContainer label {
    display: block;
    margin-bottom: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: #36a9e1;
}

.widgetBookingContainer span.inputBox,
.datePicker span.inputBox {
    background: var(--light-orange);
    display: block;
    padding: 8px 16px 8px 8px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    width: 100%;
    border: 1px solid var(--light-orange);
    color: var(--primary-blue);
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.datePicker span.inputBox {
    padding: 8px 20px 8px 8px;
}

.widgetBookingContainer span.inputBox:hover {
    cursor: pointer;
    border: 1px solid var(--secondary-orange);
}

.categoriesPopup .categoryGroupContainer > .categoryGroupCB:hover,
.categoriesPopup .categoryGroupContainer > label:hover,
.categoriesPopup .categoryGroupCB:hover,
.categoriesPopup .categoryContainer > label,
.facilityContainer .facilityGroupCB,
.facilityContainer label{
    cursor: pointer;
}

button.searchButton  {
    background: rgba(54, 169, 225, 1);
    border: none;
    color: #FFF;
    padding: 9px 20px;
    width: 100%;
    margin: 10px 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 700;
    .transition04;
}

button.searchButton:hover  {
    background: #236C90;
}

.categorySelector,
.adultsContainer,
.childsContainer,
.checkinContainer,
.checkoutContainer,
.childAgeContainer,
.childAgeGroupContainer .comboBox,
.facilities {
    position: relative;
    margin-bottom: 10px;
}

.stayLen {
    margin: -10px 0 10px 0;
    font-size: 80%;
}

.peopleContainer .comboBox:after,
.categorySelector > span:after {
    content: '\0025BC';
    position: absolute;
    right: 5px;
    bottom: 7px;
    font-size: 14px;
}

.datePicker span.inputBox:after,
.peopleContainer .comboBox:after,
.categorySelector > span:after {
    color: var(--primary-blue);
}

.categoriesPopup,
.datePickerPopup,
.comboPopup{
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
    position: absolute;
    background-color: #FFF;
    width: 100%;
    text-align: left;
}

.comboPopup {
    width: 100%;
    //max-width: 300px;
    color: #000;
}

.datePicker {
    position: relative;
}

.datePicker span.inputBox:after {
    //content: '\f133';
    content: '';
    position: absolute;
    right: 5px;
    /*font-size: 18px;
    font-family: 'FontAwesome' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;*/
    width: 18px;
    height: 18px;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='512px' height='512px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cg fill='%23379bcc'%3E%3Cpath d='M144,128c17.7,0,32-14.3,32-32V64c0-17.7-14.3-32-32-32s-32,14.3-32,32v32C112,113.7,126.3,128,144,128z'/%3E%3Cpath d='M368,128c17.7,0,32-14.3,32-32V64c0-17.7-14.3-32-32-32s-32,14.3-32,32v32C336,113.7,350.3,128,368,128z'/%3E%3Cpath d='M472,64h-56v40.7c0,22.5-23.2,39.3-47.2,39.3S320,127.2,320,104.7V64H192v40.7c0,22.5-24,39.3-48,39.3s-48-16.8-48-39.3V64 H40c-4.4,0-8,3.6-8,8v400c0,4.4,3.6,8,8,8h432c4.4,0,8-3.6,8-8V72C480,67.6,476.4,64,472,64z M432,432H80V176h352V432z'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 18px;
}

.datePickerPopup {
    width: auto;
    min-width: 0;
}

.datePickerPopup .popupTitle,
.widgetBookingContainer .popupTitle {
    text-align: left;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFF;
    background: var(--dark-blue);
    padding: 15px 20px;
}

.comboPopup .popupTitle,
.categoriesPopup .popupTitle {
    margin: -10px -20px 10px -20px;
}

.datePickerPopup .closeButton,
.widgetBookingContainer .closeButton {
    cursor: pointer;
    position: absolute;
    right: 2%;
    top: 10px;
    color: #FFF;

}

.categoriesPopup .closeButton {
    right: 20px;
}

.widgetBookingContainer .closeButton span:before {
    content: "\2716"; /* UTF-8 symbol X */
    color: #FFF;
    font-size: 14px;
}


.datePickerPopup .month_title {
    text-align: center;
    background: var(--primary-blue);
    color: #FFF;
    padding: 8px 5px;
    text-transform: uppercase;
    font-size: 14px;
}

.datePickerPopup .month {
    width: 250px;
    min-width: 250px;
    display: table-cell;
    border-right: 1px solid #5d5d5d;
}

.datePickerPopup table {
    width: 100%;
    border: 0px;
    border-collapse: collapse;
}

.datePickerPopup .plus span,
.datePickerPopup .less span {
    cursor: pointer;
    position: absolute;
    left: 2%;
    top: 42px;
    font-size: 20px;
    width: 20px;
    height: 20px;
    border: 2px solid #FFF;
    border-radius: 50%;
    color: #FFF;
    font-size: 14px;
    text-align: center;
    line-height: 16px;
    font-weight: 700;
    z-index: 1;
}

.datePickerPopup .plus span{
    left: auto;
    right: 2%;
}

.datePickerPopup .plus.disabled,
.datePickerPopup .less.disabled {
    display: none;
}

.datePickerPopup table th {
    font-size: 12px;
    text-transform: uppercase;
    border-bottom: 1px solid #a3a3a3;
    padding: 6px 4px;
    color: #5d5d5d;
    text-align: center;
}

.datePickerPopup table tr th.Sun {
    color: rgba(243, 150, 42, 1);
}

.datePickerPopup table td {
    color: rgba(94,94,94,0.4);
    font-size: 12px;
    padding: 6px 4px;
    text-align: center;
}

.datePickerPopup table td.selectable {
    cursor: pointer;
    color: rgba(94,94,94,1);
    font-weight: 700;
}

.datePickerPopup table td.Sun {
    color: rgba(243, 150, 42, 0.4);
}

.datePickerPopup table td.selectable.Sun {
    color: var(--primary-orange);
}

.categoryGroupContainer {
    padding: 5px 5px 5px 0;
}

.comboPopup,
.categoriesPopup {
   padding: 10px 20px;
}

.categoryGroupContainer > .categoryGroupCB,
.categoryGroupContainer > label {
    display: inline-block;
    vertical-align: top;
}

.categoryGroupContainer > label {
    font-weight: 700;
}

.categoryGroupContainer .categoryGroupChilds {
    padding: 5px 0 0 20px;
}

.categoryContainer,
.facilityContainer {
    display: table-row
}

.categoryContainer > *,
.facilityContainer > *{
    display: table-cell;
    padding-bottom: 2px;
}

.categoryGroupCB,
.facilityGroupCB{
    position: relative;
    width: 20px;
}

.categoryGroupCB span,
.facilityGroupCB span {
    display: none;
}

.categoryGroupCB:before,
.facilityGroupCB:before{
    content: "\00a0";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    left: 0;
    bottom: 1px;
    background-color: rgba(243, 150, 42, 1);
    font-size: 15px;
    color: rgba(255, 255, 255, 1);
    border-radius: 2px;
    text-align: center;
    line-height: 16px;
}

.categoryGroupCB.selected:before,
.facilityGroupCB.selected:before{
    content: "\2713";
}

.categoryGroupCB.tstate:before,
.facilityGroupCB.tstate:before{
    content: "\25a0";
    line-height: 80%;
}

.categoryGroupContainer > button {
    color: #fff;
    background: transparent;
    position: relative;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
    border: none;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -moz-appearance: none;
    appearance: none;
    float: right;
}

.popupFooter {
    text-align: center;
    padding: 5px;
    font-size: 12px;
    min-height: 45px;
    max-width: 200px;
}

.categoryGroupExpand:before,
.categoryGroupCollapse:before {
    content: '\0025BC';
    color: #3b3b3b;
}

.categoryGroupExpand:before {
    content: '\0025B2'
}

.categoryGroupExpand span,
.categoryGroupCollapse span {
    display: none;
}

.comboPopup .comboboxOption {
    padding: 4px;
    border: 1px solid transparent;
}

.comboPopup .comboboxOption.selected:before {
    content: "\2713";
    position: absolute;
    margin-left: -14px;
}

.comboPopup .comboboxOption:hover {
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0.1);
}

.childAgeGroupContainer .comboboxOption {
    display: inline-block;
    width: 48%;
}

.facilitiesTitle {
    font-weight: 400;
    font-size: 20px;
    padding:  0 0 10px 0;
}


@media only screen
and (min-width : 420px) {
    .popupFooter {
        max-width: 100%;
        min-height: 30px;
    }
}


/**
 * 11.0 EU popup
 * ----------------------------------------------------------------------------
 */
/**
 *
 * JQUERY EU COOKIE LAW POPUPS
 * version 1.1.1
 *
 * Code on Github:
 * https://github.com/wimagguc/jquery-eu-cookie-law-popup
 *
 * To see a live demo, go to:
 * http://www.wimagguc.com/2018/05/gdpr-compliance-with-the-jquery-eu-cookie-law-plugin/
 *
 * by Richard Dancsi
 * http://www.wimagguc.com/
 *
 */
.clearfix {
	clear: both;
}

.eupopup-container {
	background-color: var(--primary-blue);
	color: #dedede;
	padding: 10px 15px;
	font-size: 12px;
	line-height: 1.7;
	text-align: center;
	display: none;
	z-index: 998;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 8px 0 rgba(0, 0, 0, 0.08);
}

.eupopup-container-top,
.eupopup-container-fixedtop {
	position: absolute;
	top: 0; left: 0; right: 0;
}

.eupopup-container-fixedtop {
	position: fixed;
}

.eupopup-container-bottom {
	position: fixed;
	bottom: 0; left: 0; right: 0;
}

.eupopup-container-bottomleft {
	position: fixed;
	bottom: 10px;
	left: 10px;
	width: 265px;
}

.eupopup-container-bottomright {
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 300px;
}

.eupopup-closebutton {
    position: absolute;
	top: 0;
    right: 0;
	padding: 2px 4px;
}

.eupopup-closebutton svg {
    width: 18px;
    fill: #fff;
    pointer-events: none;
    vertical-align: top;
}

.eupopup-closebutton:hover,
.eupopup-closebutton:active {
	color: #fff;
	text-decoration: none;
}

.eupopup-closebutton:hover svg,
.eupopup-closebutton:active svg {
    fill: var(primary-orange);
}

.eupopup-head {
    font-size: 13px;
	font-weight: 700;
	padding: 7px 0;
	color: #fff;
}

.eupopup-body {
	color: #fff;
    font-weight: 400;
}

.eupopup-buttons {
	padding: 20px 0 12px 0;
}

.eupopup-button_1 {
	color: var(--primary-blue);
    background-color: white;
    border: 1px solid white;
    margin-right: 2px;
}

.eupopup-button_2 {
	color: #fcfbf7;
    background-color: transparent;
    border: 1px solid transparent;
    margin-left: 2px;
}

.eupopup-button {
    font-weight: 700;
	font-size: 13px;
    text-transform: uppercase;
    line-height: 13px;
    padding: 7px 14px;
    text-decoration: none;
}

.eupopup-button_1:hover,
.eupopup-button_1:focus {
	text-decoration: none;
	color: white;
    background-color: var(--primary-blue);
    border-color: white;
}

.eupopup-button_2:hover,
.eupopup-button_2:focus {
    text-decoration: none;
    color: white;
    border-color: white;
}

body .eupopup-color-inverse {
	color: #000;
	background-color: rgba(255, 255, 255, 0.9);
}

body .eupopup-color-inverse .eupopup-head {
	color: #000;
}

body .eupopup-style-compact {
	text-align: left;
	padding: 8px 30px 7px 20px;
	line-height: 15px;
}

body .eupopup-style-compact .eupopup-head,
body .eupopup-style-compact .eupopup-body,
body .eupopup-style-compact .eupopup-buttons {
	display: inline;
	padding: 0;
	margin: 0;
}

body .eupopup-style-compact .eupopup-button {
	margin: 0 5px;
}

.eupopup-container-hide {
    display: none !important;
}

@media only screen and (max-width: 768px) {
    .eupopup-container-bottomleft {
        bottom: 5px;
        left: 5px;
        right: 5px;
        width: auto;
    }
}


// jQuery timeout modal
// https://www.jqueryscript.net/lightbox/Open-Modal-After-Timeout-jQuery-timeoutModal.html 
.timeoutPopup {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    background: rgba(0, 0, 0, .1);
    z-index: 999;
    visibility: visible;
    opacity: 1;
    transition: opacity .1s linear, visibility .1s linear, background .1s linear;
}

.timeoutPopup_hidden {
    visibility: hidden;
    opacity: 0;
    background: transparent;
}

.timeoutPopup_hidden .timeoutPopup__wrapper {
    top: -100%;
    visibility: hidden;
    opacity: 0;
}

.timeoutPopup__wrapper {
    margin: 20vh 0 30px;
    position: relative;
    max-width: 1200px;
    visibility: visible;
    opacity: 1;
    transition: opacity .4s linear, visibility .4s linear, top .4s linear;
}

.timeoutPopup__content {
    background: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 40px 30px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 8px 0 rgba(0, 0, 0, 0.08);
    
    h2 {
        margin: 12px auto;
        text-align: center;
    }
}

.timeoutPopup__close {
    position: absolute;
    right: -21px;
    top: -21px;
    width: 42px;
    height: 42px;
    //background: url(../img/timeoutPopup__close.png) no-repeat;
    
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='' viewBox='0 0 24 24'%3E%3Cpath d='M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z'%3E%3C/path%3E%3Cpath d='M0 0h24v24h-24z' fill='none'%3E%3C/path%3E%3C/svg%3E");
    background-color: #faf1e5;
    border-radius: 50%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 8px 0 rgba(0, 0, 0, 0.08);
    cursor: pointer;
}


