/*********************************************
  * Filename: style.css
  * Website: http://www.lagaviota.com/
  * Author: Sokvist
  * Author URI: http://sokvist.com/
  * Date: 18/02/2020
  * Version: 2.0
*********************************************/


@import "reset.less";
@import "variables.less";
@import "mixins.less";
@import "grid.less";


// General CSS
// --------------------------------------------
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--font-color);
    background-color: var(--bg-color);
    line-height: 1.8;
    font-size: 16px;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--primary-blue);
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 32px;
    }
    
    h2 {
        font-size: 28px;
    }
    
    h3 {
        font-size: 24px;
    }
    
    h4 {
        font-size: 18px;
    }
    
    p {
        font-size: 14px;
    }
}

/* Link */
a {
    color: var(--primary-blue);
    .transition02;
}

a:hover {
    cursor: pointer;
    color: var(--dark-blue);
}

/* Form */
input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=number],
input[type=file],
input[type=tel],
input[type=url],
input[type=date],
select,
textarea {
    height: 45px;
    width: 100%;
    margin-bottom: 16px;
    padding: 16px;
    font-size: 14px;
    color: var(--primary-blue);
    background: var(--bg-color);
    border: 1px solid var(--bg-color);
    border-radius: 2px;
    transition: all 0.2s ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type=text]:hover,
input[type=password]:hover,
input[type=email]:hover,
input[type=search]:hover,
input[type=number]:hover,
input[type=file]:hover,
input[type=tel]:hover,
input[type=url]:hover,
input[type=date]:hover,
select:hover,
textarea:hover {
    border-color: var(--secondary-orange);
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=search]:focus,
input[type=number]:focus,
input[type=file]:focus,
input[type=tel]:focus,
input[type=url]:focus,
input[type=date]:focus,
select:focus,
textarea:focus {
    outline: none;
    border-color: var(--secondary-blue);
}

input[type=checkbox] {
    width: auto;
    border: solid 1px var(--secondary-blue);
    border-radius: 0;
    background: var(--bg-color);
    color: var(--font-color);
    clear: none;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
    height: 16px;
    margin: -4px 4px 0 0;
    outline: 0;
    padding: 0!important;
    text-align: center;
    vertical-align: middle;
    width: 16px;
    min-width: 16px;
    -webkit-appearance: none;
    transition: .05s border-color ease-in-out; 
}

input[type=checkbox]:checked:before {
    float: left;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    font: 400 21px/1 dashicons;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--primary-orange);
    margin: -4px 0 0 -1px;
}

input[type=checkbox]:checked:before{
    content: "\2714"; 
}

textarea {
    min-height: 70px;
}

/* Button */
button,
.button,
[type=submit] {
    display: block;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0 20px;
    outline: none;
    text-decoration: none;
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    background: var(--primary-orange);
    border: 1px solid var(--primary-orange);
    border-radius: 20px;
    transition: all 0.2s ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button.is-blue,
.button.is-blue,
[type=submit].is-blue {
    background: var(--primary-blue);
    border: 1px solid var(--primary-blue);
}

button:hover,
.button:hover,
[type=submit]:hover,
button:focus,
.button:focus,
[type=submit]:focus {
    color: var(--bg-color);
    background: var(--dark-orange);
    border-color: var(--dark-orange);
}

button.is-blue:hover,
.button.is-blue:hover,
[type=submit].is-blue:hover,
button.is-blue:focus,
.button.is-blue:focus,
[type=submit].is-blue:focus {
    background: var(--dark-blue);
    border: 1px solid var(--dark-blue);
}

button:active,
.button:active,
[type=submit]:active {
    opacity: 0.7;
}

button[disabled],
.button[disabled],
[type=submit][disabled] {
    opacity: 0.8;
    cursor: not-allowed;
}

button.outline,
.button.outline,
[type=submit].outline {
    color: #111;
    background: none;
}

button.outline:hover,
.button.outline:hover,
[type=submit].outline:hover,
button.outline:focus,
.button.outline:focus,
[type=submit].outline:focus {
    color: #f5f5f5;
    background: #111;
}


/* List */
ul,
ol {
    margin-top: 0;
    margin-bottom: 16px;
    padding-left: 0;
    list-style-position: inside;
}

ul li,
ol li {
    margin-bottom: 16px;
}

ul li:last-child,
ol li:last-child {
    margin-bottom: 0;
}

ul ul,
ol ul,
ul ol,
ol ol {
    margin-left: 16px;
}

/* Image */
img {
    display: block;
    height: auto;
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 16px;
}

/* Blockquote */
blockquote {
    font-style: italic;
}


// Custom CSS
// --------------------------------------------
header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px;
    position: fixed;
    width: 100%;
    z-index: 9;
}

.bg-header {
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
}

.bg-header svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    fill: var(--light-orange);
    transform-origin: top;
    .transition06;
}

.scrolled .bg-header svg  {
    fill: var(--bg-color);
}

.bg-header svg.wave-top  {
    transform: scaleY(1);
}

.bg-header svg.wave-top-scrolled  {
    transform: scaleY(0);
}

.bg-header .wave-top-scrolled  {
    width: 100%;
    height: 52px;
    transform: scaleY(0);
    background-color: var(--light-orange);
    transform-origin: top;
    .transition06;
}

.scrolled .bg-header svg.wave-top  {
    transform: scaleY(0);
}

.scrolled .bg-header .wave-top-scrolled  {
    transform: scaleY(1);
    background-color: transparent;
    
    @media (min-width: 1025px) {
        background-color: var(--bg-color);
    }
}


.logo {
    background-color: var(--bg-color);
    width: 80px;
    height: 80px;
    box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.05);
    border-radius: 50%;
    padding: 7px;
    z-index: 10;
    .transition02;
    
    @media (min-width: 385px) {
        width: 125px;
        height: 125px;
        padding: 15px;
    }
    
    @media (min-width: 481px) {
        width: 175px;
        height: 175px;
        padding: 15px;
    }
}

.scrolled .logo {
    background-color: var(--bg-color);
    width: 70px;
    height: 70px;
    box-shadow: none;
    padding: 14px 1px;
    margin-top: 0;
    
    @media (min-width: 1025px) {
        background-color: transparent;
        height: 50px;
        padding: 3px;
        margin-top: -15px;
    }
}

.scrolled .logo svg g#camping-bungalows,
.scrolled .logo svg g#la-gaviota {
    display: none;
}

.logo svg #logo {
    transform: scale(1);
    .transition04;
}

.logo:hover svg #logo,
.logo:focus svg #logo {
    transform: scale(1.05);
}

.header-right {
    margin-left: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    z-index: 9;
    .transition06;
}

.scrolled .header-right {
    transform: translateY(-33px);
}

/* Main nav */
.main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(2.5em);
    
    @media (min-width: 1024px) {
        flex-direction: row;
    }
}

.main-menu li {
    margin: 0;
}

.main-menu a {
    display: block;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--bg-color);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    padding: 7px 14px;
    //margin-left: 0;
    margin: 10px 0;
    
    @media (min-width: 1024px) {
        //margin-left: 20px;
        margin: 0 0 0 20px;
    }
}

.main-menu a:hover,
.main-menu a:focus,
.main-menu .current-menu-item a {
    color: var(--primary-blue);
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.scrolled .main-menu a {
    color: var(--bg-color);
    text-shadow: none;
    
    @media (min-width: 1025px) {
        color: var(--secondary-orange);
    }
}

.scrolled .main-menu a:hover,
.scrolled .main-menu a:focus,
.scrolled .main-menu .current-menu-item a {
    color: var(--primary-blue);
    text-shadow: none;
}

.info {
    display: flex;
    flex-direction: row;
}

.scrolled .info {
    display: none;
}

.info a,
.lang-nav {
    display: block;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--secondary-orange);
    background-color: var(--bg-color);
    width: auto;
    height: 28px;
    line-height: 28px;
    border-radius: 14px;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);
    padding: 0 14px;
    margin-left: 14px;
}

.info a .icon {
    fill: var(--secondary-orange);
	//vertical-align: middle;
	padding: 1px;
    height: 28px;
    width: 28px;
}

.info > a:hover,
.info > a:focus {
    color: var(--bg-color);
    background-color: var(--secondary-orange);
}

.info a:hover .icon,
.info a:focus .icon {
    fill: var(--bg-color);
}

.info a svg + span {
    display: none;
}

@media (min-width: 1024px) {
    
    .info a:last-child svg {
        display: none;
    }

    .info a:last-child svg + span {
        display: block;
    }
}

/* Language switcher */ 
.lang-nav {
    padding: 0;
    margin: 0;
    background-color: transparent;
    box-shadow: none;
    z-index: 99;
}

.lang-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    height: 30px;
    position: relative;
    overflow: hidden;
    transition: 0.2s;
}

.lang-nav ul:hover {
    height: 12em;
}

.lang-nav li {
    margin: 0 0 3px;
    order: 2;
}

.lang-nav li:last-child {
    margin: 0 0 3px;
}

.lang-nav li.active {
    pointer-events: none;
    cursor: default;
    order: 1;
}

.lang-nav li a:hover,
.lang-nav li a:focus {
    color: var(--bg-color);
    background-color: var(--secondary-orange);
}


/* Fixed background */
.bg-fixed {
    min-height: 110vh;
    box-shadow: none;
    z-index: 0;
    
    background-position: center center;
    background-size: cover;
}

#bg-01 {
    background-image: url("../images/bg-1-small.jpg");
}

#bg-02 {
    background-image: url("../images/bg-2-small.jpg");
}

#bg-03 {
    background-image: url("../images/bg-3-small.jpg");
}

#bg-04 {
    background-image: url("../images/bg-1-small.jpg");
}

#bg-05 {
    background-image: url("../images/bg-5-small.jpg");
}

#bg-06 { 
    background-image: url("../images/bg-6-small.jpg");
}

@media (min-width: 601px) {
    .bg-fixed {
        background-attachment: fixed;
        min-height: 115vh;
    }
}

@media (min-width: 769px) {
    .bg-fixed {
        background-attachment: fixed;
        min-height: 125vh;
    }
}

@media (min-width: 1025px) {
    @supports (background-attachment: fixed) {
        .bg-fixed {
            background-attachment: fixed;
            min-height: 130vh;
        }
        
        #bg-01 {
            background-image: url("../images/bg-1.jpg");
        }

        #bg-02 {
            background-image: url("../images/bg-2.jpg");
        }

        #bg-03 {
            background-image: url("../images/bg-3.jpg");
        }

        #bg-04 {
            background-image: url("../images/bg-4.jpg");
        }

        #bg-05 {
            background-image: url("../images/bg-5.jpg");
        }

        #bg-06 {
            background-image: url("../images/bg-6.jpg");
        }
    }
}

/*.hero-image {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.hero-image img {
    display: block;
    width: 100vw;
    height: 110vh;
    object-fit: cover;
    object-position: center
}*/

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110vh;
    //background-color: rgba(208, 116, 0, 0.15); // primary-orange
    z-index: 0;
    
    @media (min-width: 601px) {
        height: 115vh;
    }
    
    @media (min-width: 769px) {
        height: 125vh;
    }
    
    @media (min-width: 1025px) {
        height: 130vh;
    }
}


/* Waves */
.waves {
    position: relative;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.waves svg {
    position: absolute;
    transform: scaleY(1);
    .transition06;
    transform-origin: bottom;
}

.waves .wave-1 {
    bottom: 4vh;
    fill: var(--secondary-orange);
}

.waves .wave-2 {
    bottom: 2vh;
    fill: var(--secondary-blue);
}

.waves .wave-3 {
    bottom: 0;
    fill: var(--bg-color);
}

.scrolled .waves .wave-1,
.is-page .waves .wave-1,
.blog .waves .wave-1 {
    transform: scaleY(0.6);
}

.scrolled .waves .wave-2,
.is-page .waves .wave-2,
.blog .waves .wave-2 {
    transform: scaleY(0.6);
}

.scrolled .waves .wave-3,
.is-page .waves .wave-3,
.blog .waves .wave-3 {
    transform: scaleY(1.2);
}

@media (min-width: 769px) {
    .waves .wave-1 {
        bottom: 5vh;
    }

    .waves .wave-2 {
        bottom: 3vh;
    }
    
    .scrolled .waves .wave-3,
    .is-page .waves .wave-3,
    .blog .waves .wave-3 {
        transform: scaleY(1);
    }
}

.weather {
    position: absolute;
    z-index: 3;
    bottom: -5vh;
    left: 0;
    right: 0;
    
    @media (min-width: 769px) {
        bottom: 0;
    }
    
    @media (min-width: 1025px) {
        bottom: 7vh;
    }
}

.awesome-weather-wrap {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: var(--primary-blue);
}

.awesome-weather-header {
    font-size: 18px;
    font-weight: 900;
    line-height: 1.1;
    margin-bottom: 7px;
    text-transform: uppercase;
    
    @media (min-width: 415px) {
        font-size: 24px;
        margin-bottom: 10px;
    }
    
    @media (min-width: 601px) {
        font-size: 34px;
    }
}

.awesome-weather-current-temp {
    font-size: 48px;
    font-weight: 900;
    line-height: 1;
    margin: 0 7px;
    
    @media (min-width: 415px) {
        font-size: 62px;
        margin: 0 10px;
    }
    
    @media (min-width: 601px) {
        font-size: 86px;
        margin: 0 20px;
    }
}

.awesome-weather-current-temp strong {
    display: flex;
}

.awesome-weather-todays-stats {
    line-height: 1.1;
    margin-bottom: 6px;
    font-size: 10px;
    
    @media (min-width: 415px) {
        line-height: 1.3;
        margin-bottom: 11px;
        font-size: 12px;
    }
    
    @media (min-width: 601px) {
        line-height: 1.4;
        margin-bottom: 10px;
        font-size: 14px;
    }
}


/* Features */
.features {
    list-style: none;
    padding: 0 0 2em;
    margin-top: 5vh;
    background-color: var(--bg-color);
}

@media (min-width: 769px) {
    .features {
        margin-top: 0;
    }
}

.features li.icon {
    display: inline-block;
    padding: 5px;
    position: relative;
    text-align: left;
    margin: 0;
    border-radius: 0;
}

/* Hover effect */
.features li.icon figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 0;
	width: 100%;
	background: var(--bg-color);
	//cursor: pointer;
    border-radius: 0;
}

.features li.icon figure img {
	position: relative;
	display: block;
	max-width: 100%;
    height: auto;
    margin: 0;
    opacity: 1;
    transition: opacity 0.35s;
}

.features li.icon figure:hover img {
	opacity: 0.8;
}

.features li.icon figure figcaption {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.features li.icon figure figcaption::before,
.features li.icon figure figcaption::after {
	pointer-events: none;
}

.features li.icon figure figcaption/*,
.features li.icon figure figcaption > a*/ {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    background-color: rgba(55, 155, 204, 0.2);
}

.features li.icon.is-map figure figcaption/*,
.features li.icon:last-child figure figcaption > a*/ {
    background-color: transparent;
}

.features li.icon figure:hover figcaption/*,
.features li.icon figure:hover figcaption > a*/ {
    background-color: rgba(55, 155, 204, 0.3);
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.features li.icon.is-map figure a {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.features li figure h2,
.features li figure h3,
.features li figure .actions {
	position: absolute;
    left: 0;
	width: 100%;
	.transition04;
}

.features li figure h2,
.features li figure h3 {
    top: 0;
	transform: translate3d(0,0,0);
}

.features li figure .actions {
    display: flex;
    align-items: center;
    bottom: 0;
    margin: 0;
    padding: 10px;
	transform: translate3d(0,0,0);
    background-color: rgba(255, 255, 255, 0.5);
}

.features li figure:hover .actions {
    background-color: rgba(255, 255, 255, 1);
}

.features li figure .actions li {
    margin: 0;
}

.features li figure .actions li:nth-child(2) {
    margin-left: auto;
}

.features li figure .actions li a {
    margin-left: 10px;
}

.features li figure .actions li .min-price {
    color: var(--primary-blue);
    font-size: 20px;
    
    @media (min-width: 381px) {
        font-size: 24px;
    }
}

.features li figure .actions li .more-info {
    padding: 0;
}

.get-inspired .more-info,
.single-inspire .more-info,
.cards-reception .more-info {
    padding: 0 20px;
}

.features li figure .actions li a .icon,
.get-inspired .more-info .icon,
.single-inspire .more-info .icon,
.cards-reception .more-info .icon {
    fill: var(--bg-color);
	padding: 7px 0;
    height: 40px;
    width: 40px;
}

.features li figure .actions li a .icon-open,
.button.btn-icon .icon-open {
    fill: var(--bg-color);
    width: 14px;
    height: 14px;
    margin-left: 2px;
}

.features li figure .actions li a svg + span,
.get-inspired .more-info .icon + span,
.single-inspire .more-info .icon + span,
.cards-reception .more-info .icon + span {
    display: none;
}

.features li figure:hover h2,
.features li figure:hover h3 {
	transform: translate3d(5%,0,0);
}

.features li figure:hover .actions {
	//transform: translate3d(0,-10%,0);
}
/* end hover effect */

.features li h2,
.features li h3 {
    line-height: 1.1;
    letter-spacing: 0.05em;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--bg-color);
    padding: 10px 10px 5px;
    text-align: left;
}

.features li.is-map h2 {
    color: var(--primary-blue);
}

.features li h2 span,
.features li h3 span {
    font-weight: 900;
    display: block;
}

.features li ul {
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {

    .features li.icon {
        width: 50%;
    }

}

@media screen and (max-width: 600px) {

    .features li.icon {
        text-align: center;
        width: 100%;
        margin: 5% 0;
    }
    
    .features li h2 {
        font-size: 1.25em;
    }

}


/* Copywriting */
.copy {
    margin: 2em auto;
    padding: 2em 3em 0;
    background-color: var(--light-orange);
    
    @media (min-width: 481px) {
        padding: 2em 4em;
    }
}

.copy.copy-page {
    background-color: var(--light-blue);
}

.copy.copy-prices {
    padding: 1em 1em 0;
    
    @media (min-width: 481px) {
        padding: 1em 1em;
    }
}

.copy h1 {
    font-size: 24px;
    line-height: 1.3;
}


/* Pre footer */
.pre-footer {
    padding-top: 6em;
}

.pre-footer .grid {
    z-index: 2;
}

.pre-footer h3 {
    font-size: 36px;
    margin-bottom: -20px;
}

.pre-footer .grid .col-bleed:last-of-type .map {
    position: absolute;
    display: block;
    height: 300px;
    width: 100%;
    top: 44px;
    bottom: 0;
    left: 0;
    right: 0;
    //height: calc(100% - 16px);
    background-image: url("../images/google-map-la-gaviota.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    //transform: scale(1);
    //transform-origin: top right;
    .transition04;
    
    @media (min-width: 992px) {
        height: auto;
    }
}

.pre-footer .grid .col-bleed:last-of-type .map:hover {
    //transform: scale(1.1);
}

.pre-footer .grid .col-bleed:last-of-type .map span {
    display: inline-block;
    font-size: 28px;
    line-height: 1.2;
    background-color: var(--light-orange);
    color: var(--primary-blue);
    margin: 15px;
    padding: 6px 12px;
    opacity: 0;
    .transition04;
}

.pre-footer .grid .col-bleed:last-of-type .map:hover span {
    opacity: 1;
}


/* Mailchimp form */
.mailchimp-wrapper {
    padding: 3em 4em;
    background-color: var(--light-orange);
    color: var(--primary-blue);
}

.mailchimp-wrapper p {
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 24px;
}

.p-accept {
    margin: 0.5em 0 1.5em;
    font-size: 0.8em;
}

.p-accept a {
    color: var(--primary-orange);
    border-bottom: 1px dotted var(--primary-orange);
    text-decoration: none;
}

.p-accept a:hover,
.p-accept a:focus,
.contact-form .p-accept a:hover,
.contact-form .p-accept a:focus {
    border-color: transparent;
}

.response {
    display: none;
}

.real-people {
    position: absolute;
    left: -5000px;
}


/* Booking widget */ 
.container-booking,
.booking-popup {
    right: 15px;
    left: auto;
    border-radius: 0;
    z-index: 7;
    .transition02;
}

.container-booking {
    position: absolute;
    top: 170px;
    padding: 10px;
    min-width: 254px;
    background-color: var(--bg-color);
    color: var(--primary-blue);
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);
    transform: scale(0);
    opacity: 0;
    transform-origin: top right;
    z-index: 90;
    
    @media (min-width: 64rem) and (min-height: 760px) { // 1024px
        transform: scale(1);
        opacity: 1;
    }
}


.scrolled .container-booking {
    transform: scale(0);
    opacity: 0;
    
    @media (min-width: 64rem) and (min-height: 760px) { // 1024px
        transform: scale(0);
        opacity: 0;
    }
}

.container-booking.modal,
.scrolled .container-booking.modal {
    transform: scale(1);
    opacity: 1;
    right: 0;
}

.booking-popup {
    display: flex;
    position: fixed;
    bottom: 20px;
    padding: 12px 20px;
    background-color: var(--primary-blue);
    box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.45);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    opacity: 1;
    transform: scale(1);
    transform-origin: bottom right;
    
    @media (min-width: 64rem) and (min-height: 760px) { // 1024px
        opacity: 0;
        transform: scale(0);
    }
}

.booking-popup:hover,
.booking-popup:focus {
    background-color: var(--dark-blue);
}

//.scrolled .booking-popup,
.booking-popup.shows-up,
.booking-popup.visible {
    opacity: 1;
    transform: scale(1);
    z-index: 1001;
}

.booking-popup.color-change {
    background-color: var(--primary-orange);
    padding: 10px 20px;
}

.booking-popup.color-change:hover,
.booking-popup.color-change:focus {
    background-color: var(--dark-orange);
}

.booking-popup h2 {
    font-size: 22px;
    margin: 0;
}

.booking-popup h2 a {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    color: var(--bg-color);
    text-decoration: none;
    .transition04;
}

.booking-popup.color-change h2 a {
    flex-direction: row;
    align-items: flex-end;
}

.booking-popup h2 a svg {
    fill: var(--bg-color);
    width: 50px;
    height: 50px;
    margin-left: 0;
}

.booking-popup.color-change h2 a svg {
    width: 30px;
    height: 30px;
    margin-left: 8px;
}

#widgetBookingContainer-wrapper {
    padding: 10px 15px 5px;
}

.container-booking h2 {
    font-size: 25px;
    padding: 10px 15px 0 15px;
}

.container-booking.modal h2 {
    margin-top: 2em;
}

.container-booking h2,
.booking-popup h2 {
    line-height: 1.2;
}

.container-booking label {
    text-transform: uppercase;
    font-weight: 700;
}

.container-booking button {
    background: var(--primary-blue);
    border: 1px solid var(--primary-blue);
}

.container-booking .facilities {
    display: none;
}

.container-booking .peopleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-booking .peopleContainer .adultsContainer,
.container-booking .peopleContainer .childsGroupContainer {
    width: 48%;
}


/* Footer */
footer {
    position: relative;
    margin-top: 330px;
    padding: 2em 0;
    color: var(--bg-color);
    background-color: var(--primary-blue);
    
    @media (min-width: 601px) {
        margin-top: 0;
        background-color: transparent;
    }
    
    @media (min-width: 992px) {
        margin-top: 0;
    }
}

footer a {
    color: var(--bg-color);
    text-decoration: none;
}

footer .grid {
    z-index: 2;
}

footer .footer {
    padding: 40px;
    margin-bottom: 0;
    
    @media (min-width: 769px) {
        margin-bottom: 2em;
    }
}

footer .footer li {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}

footer .footer .grid .col-4 {
    width: 100%;
    
    @media (min-width: 576px) {
        width: 50%;
    }
    
    @media (min-width: 992px) {
        width: 33.33333333%;
    }
}

footer .footer .grid .col-4:nth-child(2) {
    display: none;
    
    @media (min-width: 992px) {
        display: block;
    }
}

footer .footer .grid .col-4:last-child {
    text-align: right;
    font-size: 0.9em;
}


/* Social media links */
.social-media {
    margin: 12px 0 0;
    padding: 0;
}

.social-media li {
    display: inline-block;
    padding: 0 1em 0 0;
}

.social-media li:last-child {
    padding-right: 0;
}

.social-media li > a,
.social-media li > span {
    border: 0;
    text-decoration: none;
}

.social-media li > a {
    display: flex;
    width: 34px;
    height: 34px;
    line-height: 34px;
    margin: 0;
    border-radius: 0;
    color: var(--bg-color);
    background-color: transparent;
    .transition04;
}

.social-media li a .icon {
    fill: var(--bg-color);
	vertical-align: middle;
	padding: 3px;
}

.social-media.share li a .icon {
    fill: var(--primary-orange);
    padding: 5px;
}

.social-media li > a:hover,
.social-media li > a:focus {
    background-color: var(--bg-color);
}

.social-media li a:hover .icon,
.social-media li a:focus .icon {
    fill: var(--primary-blue);
}

.social-media li a span {
    display: none;
}

/* sub footer */
.sub-footer {
    text-align: center;
}

.sub-footer img {
    margin: 0 auto 1em;
}

.sub-footer ul {
    margin-bottom: 2em;
}

.sub-footer li {
    display: inline-block;
    margin: 0.5em 1em;
    
}

.sub-footer li a {
    color: var(--bg-color);
    border-bottom: 1px dotted var(--bg-color);
    text-decoration: none;
}

.sub-footer li a:hover {
    border-color: transparent;
}

/* bg waves */
footer .wave-f1,
footer .wave-f2 {
    position: absolute;
    right: 0;
    left: 0;
    transform-origin: bottom center;
}

footer .wave-f1 {
    bottom: 5vh;
    transform: scaleY(3.7);
    display: none;
    
    @media (min-width: 601px) {
        display: block;
    }
}

footer .wave-f1 .p1 {
    fill: var(--secondary-blue);
}

footer .wave-f1 .p2 {
    fill: var(--primary-blue);
}

footer .wave-f2 {
    bottom: 0;
    fill: var(--secondary-orange);
}

@media (min-width: 413px) {
    footer .wave-f1 {
        transform: scaleY(2.8);
    }
}

@media (min-width: 576px) {
    footer .wave-f1 {
        transform: scaleY(1.6);
    }
}

@media (min-width: 768px) {
    footer .wave-f1 {
        transform: scaleY(1.4);
    }
}

@media (min-width: 992px) {
    footer .wave-f1 {
        transform: scaleY(1.2);
    }
}

@media (min-width: 1200px) {
    footer .wave-f1 {
        transform: scaleY(1);
    }
}

@media (min-width: 1600px) {
    footer .wave-f1 {
        transform: scaleY(0.8);
    }
    
    footer .wave-f2 {
        transform: scaleY(0.8);
    }
}

/* Back to top */
#go-top {
    display: inline-block;
    height: 46px;
    width: 46px;
    position: absolute;
    bottom: 85px;
    right: 15px;
    background: var(--bg-color);
    border-radius: 50%;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.4);
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='512px' height='512px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cpath fill='%23379bcc' d='M128.4,189.3L233.4,89c5.8-6,13.7-9,22.4-9c8.7,0,16.5,3,22.4,9l105.4,100.3c12.5,11.9,12.5,31.3,0,43.2 c-12.5,11.9-32.7,11.9-45.2,0L288,184.4v217c0,16.9-14.3,30.6-32,30.6c-17.7,0-32-13.7-32-30.6v-217l-50.4,48.2 c-12.5,11.9-32.7,11.9-45.2,0C115.9,220.6,115.9,201.3,128.4,189.3z'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px;
    z-index: 6;
}

#go-top span {
    display: none;
}

#go-top:hover {
    background-color: var(--secondary-blue);
}




// Pages & plugins
// ---------------------------------------------------------------------------

@import "pages.less";
@import "blog.less";
@import "plugins.less";

