/*! Variables */
// ==========================================================================
 
:root {
    // Colors
    --bg-color: #ffffff; // rgba(255, 255, 255, 1);
    --font-color: #323639; // rgba(50, 54, 57, 1);
    
    --primary-orange: #d07400; // rgba(208, 116, 0, 1);
    --secondary-orange: #e3ac66;
    --light-orange: #faf1e5;
    --dark-orange: #683a00;
    
    --primary-blue: #379bcc; // rgba(55, 155, 204, 1);
    --secondary-blue: #9bcde5;
    --light-blue: #ebf5fa;
    --dark-blue: #1c4e66;
    
    --grey-color: #7c878e;
    --grey-light: #f2f3f3;
    
    
    // Grid
    --reflex-columns: 12;
    --reflex-grid-spacing: 15px;
    --reflex-xs: 576px;
    --reflex-sm: 768px;
    --reflex-md: 992px;
    --reflex-lg: 1200px;
    --reflex-xlg: 1600px;
    --reflex-xxs-max: 575px;
    --reflex-xs-max: 767px;
    --reflex-sm-max: 991px;
    --reflex-md-max: 1199px;
    --reflex-lg-max: 1599px;
}

